<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#" lang="ru">
    <head>
        <meta charset="utf-8">

        <title>Компания Ирбис Моторз - производство и продажа мототехники</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Favicons -->
        <link href="../favicon/favicon.png" rel="icon">
        <link href="../favicon/apple-touch-icon.png" rel="apple-touch-icon">

        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">

        <!-- Vendors -->
        <link href="../vendors/bootstrap/bootstrap.min.css" rel="stylesheet">
        <link href="../vendors/swiper/swiper-bundle.min.css" rel="stylesheet">
        <link href="../vendors/glightbox/glightbox.min.css" rel="stylesheet">
        <link href="../vendors/aos/aos.css" rel="stylesheet">

        <!-- Icons -->
        <link href="../vendors/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
        <link href="../vendors/boxicons/boxicons.min.css" rel="stylesheet">
        <link href="../vendors/remixicon/remixicon.css" rel="stylesheet">

        <!-- Styles -->
        <link href="../styles/style.css" rel="stylesheet">
        <link href="../styles/antons-update.css" rel="stylesheet">

    </head>
    <body data-aos-easing="ease-in-out" data-aos-duration="1000" data-aos-delay="0">

        <header id="header" class="fixed-top d-flex align-items-center">
            <div class="container d-flex align-items-center miniheader">
                <h1 class="logo me-auto">
                    <a href="/">
                        <img src="../content/logo.svg" alt="">
                    </a>
                    <br>
                    <span class="logoh1">
                        Покупай Российское!
                    </span>
                </h1>
                <div class="mininav">
                    <div class="mb-2 cont">
                        <a class="phone-link" href="tel:+74987120000">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: #e03a3c;">
                                <path d="M16.57 22a2 2 0 0 0 1.43-.59l2.71-2.71a1 1 0 0 0 0-1.41l-4-4a1 1 0 0 0-1.41 0l-1.6 1.59a7.55 7.55 0 0 1-3-1.59 7.62 7.62 0 0 1-1.59-3l1.59-1.6a1 1 0 0 0 0-1.41l-4-4a1 1 0 0 0-1.41 0L2.59 6A2 2 0 0 0 2 7.43 15.28 15.28 0 0 0 6.3 17.7 15.28 15.28 0 0 0 16.57 22zM6 5.41 8.59 8 7.3 9.29a1 1 0 0 0-.3.91 10.12 10.12 0 0 0 2.3 4.5 10.08 10.08 0 0 0 4.5 2.3 1 1 0 0 0 .91-.27L16 15.41 18.59 18l-2 2a13.28 13.28 0 0 1-8.87-3.71A13.28 13.28 0 0 1 4 7.41zM20 11h2a8.81 8.81 0 0 0-9-9v2a6.77 6.77 0 0 1 7 7z"></path>
                                <path d="M13 8c2.1 0 3 .9 3 3h2c0-3.22-1.78-5-5-5z"></path>
                            </svg>
                            +7 (498) 712-00-00
                        </a>;
                        <span class="headmail">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: #e03a3c;">
                                <path d="M20 4H6c-1.103 0-2 .897-2 2v5h2V8l6.4 4.8a1.001 1.001 0 0 0 1.2 0L20 8v9h-8v2h8c1.103 0 2-.897 2-2V6c0-1.103-.897-2-2-2zm-7 6.75L6.666 6h12.668L13 10.75z"></path>
                                <path d="M2 12h7v2H2zm2 3h6v2H4zm3 3h4v2H7z"></path>
                            </svg>
                            info@irbismotors.ru
                        </span>
                        <a href="https://vk.com/irbismotors" target="_blank" class="vk">
                            <i class="bx bxl-vk"></i>
                        </a>
                        <a href="https://www.youtube.com/channel/UCfcjxtelFZKUWUKB8dBOQNA" class="tube" target="_blank">
                            <i class="bx bxl-youtube"></i>
                        </a>
                        <a href="https://ok.ru/group/70000003488804" class="instagram" target="_blank">
                            <i class="bx bxl-ok-ru"></i>
                        </a>
                        <a href="https://t.me/IRBIS_motors_pablik" class="google-plus" target="_blank">
                            <i class="bx bxl-telegram"></i>
                        </a>
                        <a href="https://www.wildberries.ru/seller/4256227" class="google-plus" target="_blank">
                            <img src="../content/markets/wildberries.png" style="width: 18px; margin-left: 3px; margin-top: -2px;" alt="">
                        </a>
                        <a href="https://www.ozon.ru/seller/irbis-motors-2195395/products/?miniapp=seller_2195395" class="google-plus" target="_blank">
                            <img src="../content/markets/ozon.png" style="width: 18px; margin-left: 7px; margin-top: -2px;" alt="">
                        </a>
                    </div>
                    <nav id="navbar" class="navbar order-last order-lg-0">
                        <ul>
                            <li class="active"><a class="scrollto nav-link" data-value="" href="#">Главная </a></li>
                            <li><a class="scrollto nav-link" data-value="portfolio" href="#">Каталог </a></li>
                            <li><a class="scrollto nav-link" data-value="pricing" href="#">Новости </a></li>
                            <li><a class="scrollto nav-link" data-value="pricing" href="#">О нас</a></li>
                            <li><a class="scrollto nav-link" data-value="contact" href="#">Контакты </a></li>
                            <li><a class="scrollto nav-link" data-value="catalog-archive" href="#">Архив моделей </a></li>
                            <li><a class="scrollto nav-link" data-value="dilery" href="#">Где купить? </a></li>
                        </ul>
                        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
                    </nav>
                </div>
            </div>
        </header>

        <main id="main">

            <section id="hero" class="d-flex align-items-center">
                <video id="player" preload="auto" autoplay muted loop class="fullscreen-bg__video ng-tns-c27-1 ng-star-inserted">
                    <source src="../video/video.mp4" type="video/mp4; codecs=avc1.42E01E,mp4a.40.2">
                    <source src="../video/video.webm" type="video/webm; codecs=vp8,vorbis">
                </video>
                <div class="container" data-aos="zoom-out" data-aos-delay="100">
                    <div class="row">
                        <div class="col-xl-6">
                            <h1>Найди для себя свой IRBIS!</h1>
                            <h2>Мы делаем мототехнику доступной для каждого!</h2>
                            <a href="#about" class="btn-get-started scrollto">Подробнее...</a>
                        </div>
                    </div>
                </div>
            </section>

            <!--
            <section id="counts" class="counts">
                <div class="container" data-aos="fade-up">
                    <div class="row">
                        <div class="col-lg-3 col-md-6">
                            <div class="count-box">
                                <i class="bi bi-emoji-smile"></i>
                                <span data-purecounter-start="0" data-purecounter-end="1500" data-purecounter-duration="1" class="purecounter"></span>
                                <p>Дилерских центров</p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
                            <div class="count-box">
                                <i class="bi bi-journal-richtext"></i>
                                <span data-purecounter-start="0" data-purecounter-end="30" data-purecounter-duration="1" class="purecounter"></span>
                                <p>Моделей мототехники</p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
                            <div class="count-box">
                                <i class="bi bi-headset"></i>
                                <span data-purecounter-start="0" data-purecounter-end="10" data-purecounter-duration="1" class="purecounter"></span>
                                <p>Специализированных заводов</p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
                            <div class="count-box">
                                <i class="bi bi-people"></i>
                                <span data-purecounter-start="0" data-purecounter-end="25000" data-purecounter-duration="1" class="purecounter"></span>
                                <p>Техники в год</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            -->

            <section id="about" class="about section-bg">
                <div class="container" data-aos="fade-up">
                    <div class="row no-gutters">
                        <div class="content col-xl-5 d-flex align-items-stretch">
                            <div class="content">
                                <h3>О компании</h3>
                                <p>Компания «Ирбис Моторз», расположенная в подмосковном городе Орехово-Зуево, является одним из крупнейших производителей отечественной внедорожной мототехники.</p>
                                <p>Предприятие специализируется на производстве снегоходов и квадроциклов, в ассортименте есть ряд эндуро-мотоциклов.</p>
                                <p>Вся техника IRBIS разработана российскими инженерами и конструкторами. Полностью адаптирована для сложных российских условий эксплуатации.</p>
                                <p><i class="ri-check-double-line"></i> Каждая новая модель IRBIS производится с учетом практических замечаний потребителей.</p>
                                <p><i class="ri-check-double-line"></i> Основные компоненты мототехники производятся здесь же в Орехово-Зуеве.</p>
                                <a href="/about" class="about-btn"><span>О нас</span> <i class="bx bx-chevron-right"></i></a></div>
                        </div>
                        <div class="col-xl-7 d-flex align-items-stretch">
                            <div class="icon-boxes d-flex flex-column justify-content-center">
                                <div class="row">
                                    <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                                        <i class="bi bi-clock-history"></i>
                                        <h4>История</h4>
                                        <p>История бренда IRBIS начинается в 2001 году с разработок и поставок мототехники из Китая. Уже с 2006 года «Ирбис Моторз» начала развивать свою дилерскую сеть, которая сегодня насчитывает свыше 300 дилерских центров от Калининграда до Камчатки (в том числе Белоруссия и Казахстан). «Ирбис Моторз» прошла в своем развитии большой путь.</p>
                                    </div>
                                    <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                                        <i class="bi bi-building"></i>
                                        <h4>Производство</h4>
                                        <p>В 2016 году принято решение перенести производство снегоходов и мотовездеходов полностью в Россию. В 2017 году на заводе в подмосковном Орехово-Зуево с конвейера сошел первый снегоход отечественной сборки. С тех пор здесь собирается мототехника, которую знают более полутора миллиона пользователей, не только в России, но и далеко за ее пределами.</p>
                                    </div>
                                    <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
                                        <i class="bi bi-gear-wide-connected"></i>
                                        <h4>Специализация</h4>
                                        <p>Предприятие специализируется на производстве снегоходов, квадроциклов, эндуро-мотоциклов. Мототехника IRBIS используется в различных областях: для активного отдыха, семейных поездок, рыбалки, охоты, утилитарных задач и др., может доставить водителя в труднодоступные места, недоступные для автомобилей. <br> Вся мототехника IRBIS проходит тестовые испытания в полевых условиях.</p>
                                    </div>
                                    <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
                                        <i class="bi bi-patch-check-fill"></i>
                                        <h4>Преимущества</h4>
                                        <p>Российское производство; свыше двадцати лет опыта; свое конструкторское бюро; высокая степень локализации производства сопутствующих материалов и деталей в России; ПСМ и ПТС, что позволяет ставить мототехнику IRBIS на учет в органах Гостехнадзора; гарантийные обязательства.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <div id="k2Container" class="container itemView">
                <section id="portfolio" class="portfolio">
                    <div class="moduletable">
                        <div class="container" data-aos="fade-up">
                            <div class="section-title">
                                <h2>Модельный ряд</h2>
                                <p>Техника IRBIS адаптирована для тяжелых российских условий и на практике доказала свою надежность. Необходимо отметить, что каждая новая модель IRBIS производится с учетом практических замечаний потребителей. Для менеджеров, инженеров, разработчиков IRBIS крайне важна обратная связь с покупателем, ведь компания создает продукцию для обычных людей и их потребностей.</p>
                            </div>
                            <div class="row" data-aos="fade-up" data-aos-delay="100">
                                <div class="col-lg-12 d-flex justify-content-center">
                                    <ul id="portfolio-flters">
                                        <li data-filter="*" class="filter-active">Все</li>
                                        <li data-filter=".filter-snow">Снегоходы туристические</li>
                                        <li data-filter=".filter-snow2">Снегоходы утилитарные</li>
                                        <li data-filter=".filter-quadro">Квадроциклы</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">
                                <div class="col-xl-4 col-md-6 portfolio-item   filter-snow ">
                                    <div class="portfolio-wrap">
                                        <a title="Подробнее..." href="/model?ids=sf_200_sl">
                                            <img src="../temp/portfolio/1.jpg" class="img-fluid" alt="">
                                        </a>
                                        <div class="portfolio-info">
                                            <h3><a title="Подробнее..." href="/model?ids=sf_200_sl">IRBIS SF200SL SUPERLONG</a></h3>
                                            <p>СНЕГОХОД ТУРИСТИЧЕСКИЙ</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-md-6 portfolio-item   filter-snow ">
                                    <div class="portfolio-wrap">
                                        <a title="Подробнее..." href="/model?ids=irbis_sf200l">
                                            <img src="../temp/portfolio/2.jpg" class="img-fluid" alt="">
                                        </a>
                                        <div class="portfolio-info">
                                            <h3><a title="Подробнее..." href="/model?ids=irbis_sf200l">IRBIS SF200L</a></h3>
                                            <p>СНЕГОХОД ТУРИСТИЧЕСКИЙ</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-md-6 portfolio-item   filter-snow2 ">
                                    <div class="portfolio-wrap">
                                        <a title="Подробнее..." href="/model?ids=tungus400">
                                            <img src="../temp/portfolio/4.jpg" class="img-fluid" alt="">
                                        </a>
                                        <div class="portfolio-info">
                                            <h3><a title="Подробнее..." href="/model?ids=tungus400">IRBIS TUNGUS 400</a></h3>
                                            <p>СНЕГОХОД УТИЛИТАРНЫЙ</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-md-6 portfolio-item   filter-snow2 ">
                                    <div class="portfolio-wrap">
                                        <a title="Подробнее..." href="/model?ids=tungus">
                                            <img src="../temp/portfolio/5.jpg" class="img-fluid" alt="">
                                        </a>
                                        <div class="portfolio-info">
                                            <h3><a title="Подробнее..." href="/model?ids=tungus">IRBIS TUNGUS 500L</a></h3>
                                            <p>СНЕГОХОД УТИЛИТАРНЫЙ</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-md-6 portfolio-item   filter-snow2 ">
                                    <div class="portfolio-wrap">
                                        <a title="Подробнее..." href="/model?ids=tungus600">
                                            <img src="../temp/portfolio/6.jpg" class="img-fluid" alt="">
                                        </a>
                                        <div class="portfolio-info">
                                            <h3><a title="Подробнее..." href="/model?ids=tungus600">IRBIS TUNGUS 600L</a></h3>
                                            <p>СНЕГОХОД УТИЛИТАРНЫЙ</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-md-6 portfolio-item   filter-quadro ">
                                    <div class="portfolio-wrap">
                                        <a title="Подробнее..." href="/model?ids=ATV200">
                                            <img src="../temp/portfolio/14.jpg" class="img-fluid" alt="">
                                        </a>
                                        <div class="portfolio-info">
                                            <h3><a title="Подробнее..." href="/model?ids=ATV200">IRBIS ATV200</a></h3>
                                            <p>КВАДРОЦИКЛ</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-md-6 portfolio-item   filter-quadro ">
                                    <div class="portfolio-wrap">
                                        <a title="Подробнее..." href="/model?ids=ATV200_LUX">
                                            <img src="../temp/portfolio/17.jpg" class="img-fluid" alt="">
                                        </a>
                                        <div class="portfolio-info">
                                            <h3><a title="Подробнее..." href="/model?ids=ATV200_LUX">IRBIS ATV200 LUX</a></h3>
                                            <p>КВАДРОЦИКЛ</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-md-6 portfolio-item   filter-quadro ">
                                    <div class="portfolio-wrap">
                                        <a title="Подробнее..." href="/model?ids=ATV200_PREMIUM">
                                            <img src="../temp/portfolio/16.jpg" class="img-fluid" alt="">
                                        </a>
                                        <div class="portfolio-info">
                                            <h3><a title="Подробнее..." href="/model?ids=ATV200_PREMIUM">IRBIS ATV200 PREMIUM</a></h3>
                                            <p>КВАДРОЦИКЛ</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-md-6 portfolio-item   filter-quadro ">
                                    <div class="portfolio-wrap">
                                        <a title="Подробнее..." href="/model?ids=atv250">
                                            <img src="../temp/portfolio/13.jpg" class="img-fluid" alt="">
                                        </a>
                                        <div class="portfolio-info">
                                            <h3><a title="Подробнее..." href="/model?ids=atv250">IRBIS ATV 250</a></h3>
                                            <p>КВАДРОЦИКЛ</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <p style="text-align:center">
                                <a href="/catalog-archive" class="btn-get-started">Архив моделей</a>
                            </p>
                        </div>
                    </div>
                </section>
            </div>

            <section id="services" class="services section-bg">
                <div class="container" data-aos="fade-up">
                    <div class="section-title">
                        <h2>Наши Дилеры</h2>
                        <p>Мы всегда готовы предложить оптимальное соотношение цена–качество. Наш ассортимент постоянно пополняется новыми товарами.</p>
                    </div>
                    <!--
                    <div class="row">
                        <div class="col-md-6">
                            <div class="icon-box" data-aos="fade-up" data-aos-delay="100"><i class="bi bi-briefcase"></i>
                                <h4><span data-purecounter-start="0" data-purecounter-end="30" data-purecounter-duration="1" class="purecounter"></span></h4>
                                <p>Около 30 наименований техники</p>
                            </div>
                        </div>
                        <div class="col-md-6 mt-4 mt-md-0">
                            <div class="icon-box" data-aos="fade-up" data-aos-delay="200"><img src="../content/services/zp.png" width="40" alt="" style="float: left;">
                                <h4><span data-purecounter-start="0" data-purecounter-end="2000" data-purecounter-duration="1" class="purecounter"></span></h4>
                                <p>2 000 наименований запчастей, комплектующих и ГСМ всегда в наличии</p>
                            </div>
                        </div>
                        <div class="col-md-6 mt-4 mt-md-0">
                            <div class="icon-box" data-aos="fade-up" data-aos-delay="300"><img src="../content/services/equip.png" width="40" alt="" style="float: left;">
                                <h4><span data-purecounter-start="0" data-purecounter-end="1000" data-purecounter-duration="1" class="purecounter"></span></h4>
                                <p>1 000 позиций экипировки и аксессуаров для мототехники</p>
                            </div>
                        </div>
                        <div class="col-md-6 mt-4 mt-md-0">
                            <div class="icon-box" data-aos="fade-up" data-aos-delay="600"><i class="bi bi-calendar4-week"></i>
                                <h4><span data-purecounter-start="0" data-purecounter-end="20000" data-purecounter-duration="1" class="purecounter"></span></h4>
                                <p>Более 20 000 м2 складских помещений</p>
                            </div>
                        </div>
                    </div>
                    -->
                    <p style="margin-top: 30px; text-align: center;">
                        <a href="/dilery" class="btn-buy" style="padding: 20px 50px 20px 50px; font-size: 20px;">Где купить?</a>
                    </p>
                </div>
            </section>

            <section id="pricing" class="pricing section-bg">
                <div class="container" data-aos="fade-up">
                    <div class="section-title">
                        <h2>Новости</h2>
                        <p>Мы предлагаем не просто технику, а возможность стать частью мотосообщества, интересную и яркую жизнь, наполненную драйвом, новыми впечатлениями и ощущением полной свободы над временем и обстоятельствами. ИРБИС - техника доступная для каждого!</p>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
                            <div class="box" data-aos="fade-up" data-aos-delay="300">
                                <h3>Снегоходы и квадроциклы «Ирбис»: покупай российское!</h3>
                                <img src="../temp/pricing/d6086de322f98f66cc694f32ea284557_M.jpg" alt="Снегоходы и квадроциклы «Ирбис»: покупай российское!" style="width:100%;margin-bottom: 10px;">
                                <p> Общество с ограниченной ответственностью «Ирбис Моторз» (г. Орехово-Зуево) – российская&#8230;</p>
                                <div class="btn-wrap">
                                    <a class="btn-buy" href="/novosti/item/72-snegokhody-i-kvadrotsikly-irbis-pokupaj-rossijskoe">
                                        Подробнее
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
                            <div class="box" data-aos="fade-up" data-aos-delay="300">
                                <h3>Что под капотом у снегохода IRBIS SF300?</h3>
                                <img src="../temp/pricing/1698b847c2e4fe98c05adcdc9d420590_M.jpg" alt="Что под капотом у снегохода IRBIS SF300?" style="width:100%;margin-bottom: 10px;">
                                <p> Приступили к финальной проверке инжекторного снегохода IRBIS SF300. Перед вами&#8230;</p>
                                <div class="btn-wrap">
                                    <a class="btn-buy" href="/novosti/item/71-chto-pod-kapotom-u-snegokhoda-irbis-sf300">
                                        Подробнее
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
                            <div class="box" data-aos="fade-up" data-aos-delay="300">
                                <h3>Магазины «Ирбис» на маркетплейсах</h3>
                                <img src="../temp/pricing/3749aaa8ee129d7e919bddcc7e09cd36_M.jpg?t=20250122_142742" alt="Магазины «Ирбис» на маркетплейсах" style="width:100%;margin-bottom: 10px;">
                                <p> Напоминаем Вам, что «Ирбис Моторз» можно найти не только в&#8230;</p>
                                <div class="btn-wrap">
                                    <a class="btn-buy" href="/novosti/item/70-magaziny-irbis-na-marketplejsakh">
                                        Подробнее
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p style="margin-top:30px; text-align:center;">
                        <a href="/novosti" class="btn-buy">Все новости</a>
                    </p>
                </div>
            </section>

            <section id="contact" class="contact">
                <div class="container" data-aos="fade-up">
                    <div class="section-title">
                        <h2>Контакты</h2>
                    </div>
                    <div class="row" data-aos="fade-up" data-aos-delay="100">
                        <div class="col-lg-6">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="info-box"><i class="bx bx-map"></i>
                                        <h3>Наш адрес</h3>
                                        <p>142603, Московская обл, Орехово-Зуево г, Тургенева ул, дом 1, литера А, помещение 121</p>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="info-box mt-4"><i class="bx bx-envelope"></i>
                                        <h3>Email</h3>
                                        <p>info@irbismotors.ru</p>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="info-box mt-4"><i class="bx bx-phone-call"></i>
                                        <h3>Телефон</h3>
                                        <p>+7 (498) 712-00-00</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <form action="/send.php" method="post" class="php-form">
                                <div class="row">
                                    <div class="col form-group"><input type="text" name="name" class="form-control" placeholder="Ваше Имя" required=""></div>
                                    <div class="col form-group"><input type="email" class="form-control" name="email" placeholder="Ваш Email" required=""></div>
                                </div>
                                <div class="form-group"><input type="text" class="form-control" name="phone" placeholder="Телефон"></div>
                                <input type="hidden" class="form-control" name="phone1" placeholder="Телефон">
                                <input type="text" class="form-control" name="phone2" placeholder="Телефон" style="display:none;">
                                <div class="form-group"><input type="text" class="form-control" name="subject" placeholder="Тема" required=""></div>
                                <div class="form-group"><textarea class="form-control" name="message" rows="5" placeholder="Сообщение" required=""></textarea></div>
                                <p><input type="checkbox" name="a" value="1"> Отправляя форму, Вы даёте согласие на обработку персональных данных в соответствии <a href="../docs/konf.pdf">с политикой конфиденциальности сайта </a></p>
                                <div class="text-center">
                                    <button type="submit">Написать нам</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>

        </main>

        <footer id="footer">
            <div class="footer-top">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 footer-contact">
                            <h3>Ирбис Моторз<span>.</span></h3>
                            <p>142603, Московская обл, <br> Орехово-Зуево г, Тургенева ул,<br> дом 1, литера А, помещение 121 <br><br> <strong>Телефон:</strong> +7 (498) 712-00-00<br> <strong>Email:</strong> info@irbismotors.ru</p>
                        </div>
                        <div class="col-lg-2 col-md-6 footer-links">
                            <h4>Информация</h4>
                            <ul>
                                <li><i class="bx bx-chevron-right"></i> <a href="/">Главная</a></li>
                                <li><i class="bx bx-chevron-right"></i> <a href="/about">О нас</a></li>
                                <li><i class="bx bx-chevron-right"></i> <a href="/novosti">Новости</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-3 col-md-6 footer-links">
                            <h4>Полезные ссылки</h4>
                            <ul>
                                <li><i class="bx bx-chevron-right"></i> <a href="/dilery">Где купить</a></li>
                                <li><i class="bx bx-chevron-right"></i> <a href="/catalog-archive">Архив моделей</a></li>
                                <li><i class="bx bx-chevron-right"></i> <a href="#">Контакты</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container d-md-flex py-4">
                <div class="me-md-auto text-center text-md-start">
                    <div class="copyright">© сайт <strong><span>Ирбис Моторз</span></strong>. Все права защищены</div>
                    <div class="credits">&nbsp;</div>
                </div>
                <div class="social-links text-center text-md-end pt-3 pt-md-0">
                    <a href="https://vk.com/irbismotors" target="_blank" class="vk">
                        <i class="bx bxl-vk"></i>
                    </a>
                    <a href="https://www.youtube.com/channel/UCfcjxtelFZKUWUKB8dBOQNA" class="tube" target="_blank">
                        <i class="bx bxl-youtube"></i>
                    </a>
                    <a href="https://ok.ru/group/70000003488804" class="instagram" target="_blank">
                        <i class="bx bxl-ok-ru"></i>
                    </a>
                    <a href="https://t.me/IRBIS_motors_pablik" class="google-plus" target="_blank">
                        <i class="bx bxl-telegram"></i>
                    </a>
                </div>
            </div>
        </footer>

        <a href="#" class="back-to-top d-flex align-items-center justify-content-center">
            <i class="bi bi-arrow-up-short"></i>
        </a>


        <!-- Vendor JS Files -->
        <script src="../vendors/purecounter/purecounter_vanilla.js"></script>
        <script src="../vendors/bootstrap/bootstrap.bundle.min.js"></script>
        <script src="../vendors/swiper/swiper-bundle.min.js"></script>
        <script src="../vendors/glightbox/glightbox.min.js"></script>
        <script src="../vendors/isotope/isotope.pkgd.min.js"></script>
        <script src="../vendors/php-email-form-validation/validate.js"></script>
        <script src="../vendors/aos/aos.js"></script>

        <!-- Project scripts -->
        <script src="../scripts/main.js"></script>


    </body>
</html>
