<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#" lang="ru">
    <head>
        <meta charset="utf-8">

        <title>Компания Ирбис Моторз - производство и продажа мототехники</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Favicons -->
        <link href="../favicon/favicon.png" rel="icon">
        <link href="../favicon/apple-touch-icon.png" rel="apple-touch-icon">

        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

        <!-- Vendors -->
        <link href="../vendors/bootstrap/bootstrap.min.css" rel="stylesheet">
        <link href="../vendors/swiper/swiper-bundle.min.css" rel="stylesheet">
        <link href="../vendors/glightbox/glightbox.min.css" rel="stylesheet">
        <link href="../vendors/aos/aos.css" rel="stylesheet">

        <!-- Icons -->
        <link href="../vendors/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
        <link href="../vendors/boxicons/boxicons.min.css" rel="stylesheet">
        <link href="../vendors/remixicon/remixicon.css" rel="stylesheet">

        <!-- Styles -->
        <link href="../styles/style.css" rel="stylesheet">
        <link href="../styles/antons-update.css" rel="stylesheet">

    </head>
    <body data-aos-easing="ease-in-out" data-aos-duration="1000" data-aos-delay="0">

        <header id="header" class="fixed-top d-flex align-items-center">
            <div class="container d-flex align-items-center miniheader">
                <h1 class="logo me-auto">
                    <a href="/">
                        <img src="../images/logo.svg" alt="">
                    </a>
                    <br>
                    <span class="logoh1">
                        Покупай Российское!
                    </span>
                </h1>
                <div class="mininav">
                    <div class="mb-2 cont">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: #e03a3c;">
                            <path d="M16.57 22a2 2 0 0 0 1.43-.59l2.71-2.71a1 1 0 0 0 0-1.41l-4-4a1 1 0 0 0-1.41 0l-1.6 1.59a7.55 7.55 0 0 1-3-1.59 7.62 7.62 0 0 1-1.59-3l1.59-1.6a1 1 0 0 0 0-1.41l-4-4a1 1 0 0 0-1.41 0L2.59 6A2 2 0 0 0 2 7.43 15.28 15.28 0 0 0 6.3 17.7 15.28 15.28 0 0 0 16.57 22zM6 5.41 8.59 8 7.3 9.29a1 1 0 0 0-.3.91 10.12 10.12 0 0 0 2.3 4.5 10.08 10.08 0 0 0 4.5 2.3 1 1 0 0 0 .91-.27L16 15.41 18.59 18l-2 2a13.28 13.28 0 0 1-8.87-3.71A13.28 13.28 0 0 1 4 7.41zM20 11h2a8.81 8.81 0 0 0-9-9v2a6.77 6.77 0 0 1 7 7z"></path>
                            <path d="M13 8c2.1 0 3 .9 3 3h2c0-3.22-1.78-5-5-5z"></path>
                        </svg>
                        +7 (498) 712-00-00;
                        <span class="headmail">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: #e03a3c;">
                                <path d="M20 4H6c-1.103 0-2 .897-2 2v5h2V8l6.4 4.8a1.001 1.001 0 0 0 1.2 0L20 8v9h-8v2h8c1.103 0 2-.897 2-2V6c0-1.103-.897-2-2-2zm-7 6.75L6.666 6h12.668L13 10.75z"></path>
                                <path d="M2 12h7v2H2zm2 3h6v2H4zm3 3h4v2H7z"></path>
                            </svg>
                            info@irbismotors.ru
                        </span>
                        <a href="https://vk.com/irbismotors" target="_blank" class="vk">
                            <i class="bx bxl-vk"></i>
                        </a>
                        <a href="https://www.youtube.com/channel/UCfcjxtelFZKUWUKB8dBOQNA" class="tube" target="_blank">
                            <i class="bx bxl-youtube"></i>
                        </a>
                        <a href="https://ok.ru/group/70000003488804" class="instagram" target="_blank">
                            <i class="bx bxl-ok-ru"></i>
                        </a>
                        <a href="https://t.me/IRBIS_motors_pablik" class="google-plus" target="_blank">
                            <i class="bx bxl-telegram"></i>
                        </a>
                        <a href="https://www.wildberries.ru/seller/4256227" class="google-plus" target="_blank">
                            <img src="../images/wildberries.png" style="width: 18px; margin-left: 3px; margin-top: -2px;" alt="">
                        </a>
                        <a href="https://www.ozon.ru/seller/irbis-motors-2195395/products/?miniapp=seller_2195395" class="google-plus" target="_blank">
                            <img src="../images/ozon.png" style="width: 18px; margin-left: 7px; margin-top: -2px;" alt="">
                        </a>
                    </div>
                    <nav id="navbar" class="navbar order-last order-lg-0">
                        <ul>
                            <li class="active"><a class="scrollto nav-link" data-value="" href="#">Главная </a></li>
                            <li><a class="scrollto nav-link" data-value="portfolio" href="#">Каталог </a></li>
                            <li><a class="scrollto nav-link" data-value="pricing" href="#">Новости </a></li>
                            <li><a class="scrollto nav-link" data-value="pricing" href="#">О нас</a></li>
                            <li><a class="scrollto nav-link" data-value="contact" href="#">Контакты </a></li>
                            <li><a class="scrollto nav-link" data-value="catalog-archive" href="#">Архив моделей </a></li>
                            <li><a class="scrollto nav-link" data-value="dilery" href="#">Где купить? </a></li>
                        </ul>
                        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
                    </nav>
                </div>
            </div>
        </header>

        <main id="main">

            <section class="breadcrumbs">
                <div class="container">
                    <ol>
                        <li class=""><a href="/">Главная</a></li>
                        <li class=" active" aria-current="page">Архив моделей</li>
                    </ol>
                    <h2>Архив моделей</h2>
                </div>
            </section>

            <div id="system-message-container">

            </div>

            <div id="k2Container" class="container itemView">
                <div class="moduletable">
                    <section id="portfolio" class="portfolio">
                        <div class="moduletable">
                            <div class="container" data-aos="fade-up">
                                <div class="section-title">
                                    <h2>Модельный ряд</h2>
                                    <p>Техника IRBIS адаптирована для тяжелых российских условий и на практике доказала свою надежность. Необходимо отметить, что каждая новая модель IRBIS производится с учетом практических замечаний потребителей. Для менеджеров, инженеров, разработчиков IRBIS крайне важна обратная связь с покупателем, ведь компания создает продукцию для обычных людей и их потребностей.</p>
                                </div>
                                <div class="row" data-aos="fade-up" data-aos-delay="100">
                                    <div class="col-lg-12 d-flex justify-content-center">
                                        <ul id="portfolio-flters">
                                            <li data-filter=".filter-snow">Снегоходы</li>
                                            <li data-filter=".filter-moto2">Внедорожные мотоциклы</li>
                                            <li data-filter=".filter-moto">Дорожные мотоциклы</li>
                                            <li data-filter=".filter-circle">Скутеры</li>
                                            <li data-filter=".filter-quadro">Квадроциклы</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

                                    <div class="col-lg-3 col-md-6 portfolio-item  filter-moto2 ">
                                        <div class="portfolio-wrap"><a title="Подробнее..." href="/archiv?ids=ttr125R"><img src="/upload/iblock/a35/VJ.png" class="img-fluid" alt=""/></a>

                                            <div class="portfolio-info">
                                                <h4><a title="Подробнее..." href="/archiv?ids=ttr125R">TTR125R</a></h4>
                                                <p>ВНЕДОРОЖНЫЙ МОТОЦИКЛ</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-md-6 portfolio-item  filter-snow ">
                                        <div class="portfolio-wrap"><a title="Подробнее..." href="/archiv?ids=mukhtar_15"><img src="/upload/iblock/596/Мотобуксировщик Мухтар 15.png" class="img-fluid" alt=""/></a>

                                            <div class="portfolio-info">
                                                <h4><a title="Подробнее..." href="/archiv?ids=mukhtar_15">Мухтар 15</a></h4>
                                                <p>СНЕГОХОД</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-md-6 portfolio-item  filter-snow ">
                                        <div class="portfolio-wrap"><a title="Подробнее..." href="/archiv?ids=dingo_t125"><img src="/upload/iblock/48e/Динго Т125 i.PNG" class="img-fluid" alt=""/></a>

                                            <div class="portfolio-info">
                                                <h4><a title="Подробнее..." href="/archiv?ids=dingo_t125">Dingo T125</a></h4>
                                                <p>СНЕГОХОД</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-md-6 portfolio-item  filter-moto ">
                                        <div class="portfolio-wrap"><a title="Подробнее..." href="/archiv?ids=z1"><img src="/upload/iblock/778/Irbis Z1 sportbike.png" class="img-fluid" alt=""/></a>

                                            <div class="portfolio-info">
                                                <h4><a title="Подробнее..." href="/archiv?ids=z1">Z1</a></h4>
                                                <p>ДОРОЖНЫЙ МОТОЦИКЛ</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-md-6 portfolio-item  filter-moto ">
                                        <div class="portfolio-wrap"><a title="Подробнее..." href="/archiv?ids=xr250r"><img src="/upload/iblock/794/xr250R.png" class="img-fluid" alt=""/></a>

                                            <div class="portfolio-info">
                                                <h4><a title="Подробнее..." href="/archiv?ids=xr250r">XR250R</a></h4>
                                                <p>ДОРОЖНЫЙ МОТОЦИКЛ</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-md-6 portfolio-item  filter-moto ">
                                        <div class="portfolio-wrap"><a title="Подробнее..." href="/archiv?ids=intruder"><img src="/upload/iblock/eb8/Irbis Intruder utility bike.png" class="img-fluid" alt=""/></a>

                                            <div class="portfolio-info">
                                                <h4><a title="Подробнее..." href="/archiv?ids=intruder">Intruder</a></h4>
                                                <p>ДОРОЖНЫЙ МОТОЦИКЛ</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-md-6 portfolio-item  filter-moto ">
                                        <div class="portfolio-wrap"><a title="Подробнее..." href="/archiv?ids=garpia"><img src="/upload/iblock/8cb/Irbis Garpia roadbike.png" class="img-fluid" alt=""/></a>

                                            <div class="portfolio-info">
                                                <h4><a title="Подробнее..." href="/archiv?ids=garpia">Garpia</a></h4>
                                                <p>ДОРОЖНЫЙ МОТОЦИКЛ</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-md-6 portfolio-item  filter-moto ">
                                        <div class="portfolio-wrap"><a title="Подробнее..." href="/archiv?ids=virago"><img src="/upload/iblock/081/Irbis Virago roadbike.png" class="img-fluid" alt=""/></a>

                                            <div class="portfolio-info">
                                                <h4><a title="Подробнее..." href="/archiv?ids=virago">Virago</a></h4>
                                                <p>ДОРОЖНЫЙ МОТОЦИКЛ</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-md-6 portfolio-item  filter-moto ">
                                        <div class="portfolio-wrap"><a title="Подробнее..." href="/archiv?ids=vj"><img src="/upload/iblock/e83/Irbis VJ roadbike.png" class="img-fluid" alt=""/></a>

                                            <div class="portfolio-info">
                                                <h4><a title="Подробнее..." href="/archiv?ids=vj">VJ</a></h4>
                                                <p>ДОРОЖНЫЙ МОТОЦИКЛ</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-md-6 portfolio-item  filter-moto ">
                                        <div class="portfolio-wrap"><a title="Подробнее..." href="/archiv?ids=vr_1"><img src="/upload/iblock/6da/Irbis VR-1 roadbike.png" class="img-fluid" alt=""/></a>

                                            <div class="portfolio-info">
                                                <h4><a title="Подробнее..." href="/archiv?ids=vr_1">VR-1</a></h4>
                                                <p>ДОРОЖНЫЙ МОТОЦИКЛ</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-md-6 portfolio-item  filter-moto ">
                                        <div class="portfolio-wrap"><a title="Подробнее..." href="/archiv?ids=gs200"><img src="/upload/iblock/93f/IMG_4058-1.png" class="img-fluid" alt=""/></a>

                                            <div class="portfolio-info">
                                                <h4><a title="Подробнее..." href="/archiv?ids=gs200">GS200</a></h4>
                                                <p>ДОРОЖНЫЙ МОТОЦИКЛ</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-md-6 portfolio-item  filter-moto ">
                                        <div class="portfolio-wrap"><a title="Подробнее..." href="/archiv?ids=gs150"><img src="/upload/iblock/dc5/для-категории-2.png" class="img-fluid" alt=""/></a>

                                            <div class="portfolio-info">
                                                <h4><a title="Подробнее..." href="/archiv?ids=gs150">GS150</a></h4>
                                                <p>ДОРОЖНЫЙ МОТОЦИКЛ</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-md-6 portfolio-item  filter-moto ">
                                        <div class="portfolio-wrap"><a title="Подробнее..." href="/archiv?ids=gr"><img src="/upload/iblock/fa8/Каталог_5.png" class="img-fluid" alt=""/></a>

                                            <div class="portfolio-info">
                                                <h4><a title="Подробнее..." href="/archiv?ids=gr">GR</a></h4>
                                                <p>ДОРОЖНЫЙ МОТОЦИКЛ</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-md-6 portfolio-item  filter-moto2 ">
                                        <div class="portfolio-wrap"><a title="Подробнее..." href="/archiv?ids=ttr110"><img src="/upload/iblock/d27/Irbis TTR110 pitbike.png" class="img-fluid" alt=""/></a>

                                            <div class="portfolio-info">
                                                <h4><a title="Подробнее..." href="/archiv?ids=ttr110">TTR110</a></h4>
                                                <p>ВНЕДОРОЖНЫЙ МОТОЦИКЛ</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-md-6 portfolio-item  filter-moto2 ">
                                        <div class="portfolio-wrap"><a title="Подробнее..." href="/archiv?ids=ttr150"><img src="/upload/iblock/5d8/Irbis TTR110 pitbike.png" class="img-fluid" alt=""/></a>

                                            <div class="portfolio-info">
                                                <h4><a title="Подробнее..." href="/archiv?ids=ttr150">TTR150</a></h4>
                                                <p>ВНЕДОРОЖНЫЙ МОТОЦИКЛ</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-md-6 portfolio-item  filter-moto2 ">
                                        <div class="portfolio-wrap"><a title="Подробнее..." href="/archiv?ids=ttr250"><img src="/upload/iblock/bc0/Irbis TTR150 pitbike.png" class="img-fluid" alt=""/></a>

                                            <div class="portfolio-info">
                                                <h4><a title="Подробнее..." href="/archiv?ids=ttr250">TTR250</a></h4>
                                                <p>ВНЕДОРОЖНЫЙ МОТОЦИКЛ</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-md-6 portfolio-item  filter-quadro ">
                                        <div class="portfolio-wrap"><a title="Подробнее..." href="/archiv?ids=ATV125u"><img src="/upload/iblock/626/Irbis ATV125U .png" class="img-fluid" alt=""/></a>

                                            <div class="portfolio-info">
                                                <h4><a title="Подробнее..." href="/archiv?ids=ATV125u">125U</a></h4>
                                                <p>КВАДРОЦИКЛ</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-md-6 portfolio-item  filter-quadro ">
                                        <div class="portfolio-wrap"><a title="Подробнее..." href="/archiv?ids=ATV110u"><img src="/upload/iblock/635/Irbis ATV110U .png" class="img-fluid" alt=""/></a>

                                            <div class="portfolio-info">
                                                <h4><a title="Подробнее..." href="/archiv?ids=ATV110u">110U</a></h4>
                                                <p>КВАДРОЦИКЛ</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-md-6 portfolio-item  filter-circle ">
                                        <div class="portfolio-wrap"><a title="Подробнее..." href="/archiv?ids=rzr"><img src="/upload/iblock/5e7/Irbis RZR.png" class="img-fluid" alt=""/></a>

                                            <div class="portfolio-info">
                                                <h4><a title="Подробнее..." href="/archiv?ids=rzr">RZR</a></h4>
                                                <p>СКУТЕР</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-md-6 portfolio-item  filter-circle ">
                                        <div class="portfolio-wrap"><a title="Подробнее..." href="/archiv?ids=Grace"><img src="/upload/iblock/415/Irbis RZR.png" class="img-fluid" alt=""/></a>

                                            <div class="portfolio-info">
                                                <h4><a title="Подробнее..." href="/archiv?ids=Grace">Grace</a></h4>
                                                <p>СКУТЕР</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-md-6 portfolio-item  filter-circle ">
                                        <div class="portfolio-wrap"><a title="Подробнее..." href="/archiv?ids=bws"><img src="/upload/iblock/aa2/Irbis Grace.png" class="img-fluid" alt=""/></a>

                                            <div class="portfolio-info">
                                                <h4><a title="Подробнее..." href="/archiv?ids=bws">BWS</a></h4>
                                                <p>СКУТЕР</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-md-6 portfolio-item  filter-circle ">
                                        <div class="portfolio-wrap"><a title="Подробнее..." href="/archiv?ids=nirvana"><img src="/upload/iblock/7aa/Irbis Grace.png" class="img-fluid" alt=""/></a>

                                            <div class="portfolio-info">
                                                <h4><a title="Подробнее..." href="/archiv?ids=nirvana">Nirvana</a></h4>
                                                <p>СКУТЕР</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-md-6 portfolio-item  filter-snow ">
                                        <div class="portfolio-wrap"><a title="Подробнее..." href="/archiv?ids=mukhtar_7"><img src="/upload/iblock/a50/Muchtar-7-217x200-02.png" class="img-fluid" alt=""/></a>

                                            <div class="portfolio-info">
                                                <h4><a title="Подробнее..." href="/archiv?ids=mukhtar_7">Мухтар 7</a></h4>
                                                <p>СНЕГОХОД</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-md-6 portfolio-item  filter-snow ">
                                        <div class="portfolio-wrap"><a title="Подробнее..." href="/archiv?ids=dingo_t150"><img src="/upload/iblock/539/T150-217x200-01.png" class="img-fluid" alt=""/></a>

                                            <div class="portfolio-info">
                                                <h4><a title="Подробнее..." href="/archiv?ids=dingo_t150">Dingo T150 2017</a></h4>
                                                <p>СНЕГОХОД</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-md-6 portfolio-item  filter-snow ">
                                        <div class="portfolio-wrap"><a title="Подробнее..." href="/archiv?ids=mukhtar_15_2018"><img src="/upload/iblock/726/muhtar-15_2017-cat.png" class="img-fluid" alt=""/></a>

                                            <div class="portfolio-info">
                                                <h4><a title="Подробнее..." href="/archiv?ids=mukhtar_15_2018">Мухтар 15 2018</a></h4>
                                                <p>СНЕГОХОД</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-md-6 portfolio-item  filter-moto2 ">
                                        <div class="portfolio-wrap"><a title="Подробнее..." href="/archiv?ids=ttr250R"><img src="/upload/iblock/a35/9.jpg" class="img-fluid" alt=""/></a>

                                            <div class="portfolio-info">
                                                <h4><a title="Подробнее..." href="/archiv?ids=ttr250R">TTR250R</a></h4>
                                                <p>ВНЕДОРОЖНЫЙ МОТОЦИКЛ</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-md-6 portfolio-item  filter-snow ">
                                        <div class="portfolio-wrap"><a title="Подробнее..." href="/archiv?ids=mukhtar_7_mini"><img src="/upload/iblock/a35/8.jpg" class="img-fluid" alt=""/></a>

                                            <div class="portfolio-info">
                                                <h4><a title="Подробнее..." href="/archiv?ids=mukhtar_7_mini">Мухтар 7 Мини</a></h4>
                                                <p>СНЕГОХОД</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-md-6 portfolio-item  filter-quadro ">
                                        <div class="portfolio-wrap"><a title="Подробнее..." href="/archiv?ids=atv250Lux"><img src="/upload/iblock/d44/ATV _217x200_3.png" class="img-fluid" alt=""/></a>

                                            <div class="portfolio-info">
                                                <h4><a title="Подробнее..." href="/archiv?ids=atv250Lux">IRBIS ATV 250 Lux</a></h4>
                                                <p>КВАДРОЦИКЛ</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-md-6 portfolio-item  filter-snow ">
                                        <div class="portfolio-wrap"><a title="Подробнее..." href="/archiv?ids=dingo_t200"><img src="/upload/iblock/001/T150_cat_217.png" class="img-fluid" alt=""/></a>

                                            <div class="portfolio-info">
                                                <h4><a title="Подробнее..." href="/archiv?ids=dingo_t200">Dingo T200</a></h4>
                                                <p>СНЕГОХОД</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-md-6 portfolio-item  filter-snow ">
                                        <div class="portfolio-wrap"><a title="Подробнее..." href="/archiv?ids=tungus400"><img src="/upload/iblock/001/4.png" class="img-fluid" alt=""/></a>

                                            <div class="portfolio-info">
                                                <h4><a title="Подробнее..." href="/archiv?ids=tungus400">IRBIS TUNGUS 400</a></h4>
                                                <p>СНЕГОХОД</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-md-6 portfolio-item  filter-quadro ">
                                        <div class="portfolio-wrap"><a title="Подробнее..." href="/archiv?ids=atv125"><img src="/upload/iblock/001/15.jpg" class="img-fluid" alt=""/></a>

                                            <div class="portfolio-info">
                                                <h4><a title="Подробнее..." href="/archiv?ids=atv125">atv125</a></h4>
                                                <p>КВАДРОЦИКЛ</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-md-6 portfolio-item  filter-quadro ">
                                        <div class="portfolio-wrap"><a title="Подробнее..." href="/archiv?ids=atv250Premium"><img src="/upload/iblock/d44/5.jpg" class="img-fluid" alt=""/></a>

                                            <div class="portfolio-info">
                                                <h4><a title="Подробнее..." href="/archiv?ids=atv250Premium">IRBIS ATV 250 Premium</a></h4>
                                                <p>КВАДРОЦИКЛ</p>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>

            <section id="contact" class="contact">
                <div class="container" data-aos="fade-up">
                    <div class="section-title">
                        <h2>Контакты</h2>
                    </div>
                    <div class="row" data-aos="fade-up" data-aos-delay="100">
                        <div class="col-lg-6">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="info-box"><i class="bx bx-map"></i>
                                        <h3>Наш адрес</h3>
                                        <p>142603, Московская обл, Орехово-Зуево г, Тургенева ул, дом 1, литера А, помещение 121</p>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="info-box mt-4"><i class="bx bx-envelope"></i>
                                        <h3>Email</h3>
                                        <p>info@irbismotors.ru</p>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="info-box mt-4"><i class="bx bx-phone-call"></i>
                                        <h3>Телефон</h3>
                                        <p>+7 (498) 712-00-00</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <form action="/send.php" method="post" class="php-form">
                                <div class="row">
                                    <div class="col form-group"><input type="text" name="name" class="form-control" placeholder="Ваше Имя" required=""></div>
                                    <div class="col form-group"><input type="email" class="form-control" name="email" placeholder="Ваш Email" required=""></div>
                                </div>
                                <div class="form-group"><input type="text" class="form-control" name="phone" placeholder="Телефон"></div>
                                <input type="hidden" class="form-control" name="phone1" placeholder="Телефон">
                                <input type="text" class="form-control" name="phone2" placeholder="Телефон" style="display:none;">
                                <div class="form-group"><input type="text" class="form-control" name="subject" placeholder="Тема" required=""></div>
                                <div class="form-group"><textarea class="form-control" name="message" rows="5" placeholder="Сообщение" required=""></textarea></div>
                                <p><input type="checkbox" name="a" value="1">Отправляя форму, Вы даёте согласие на обработку персональных данных в соответствии <a href="../docs/konf.pdf">с политикой конфиденциальности сайта </a></p>
                                <div class="text-center">
                                    <button type="submit">Написать нам</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
        </main>

        <footer id="footer">
            <div class="footer-top">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 footer-contact">
                            <h3>Ирбис Моторз<span>.</span></h3>
                            <p>142603, Московская обл, <br> Орехово-Зуево г, Тургенева ул,<br> дом 1, литера А, помещение 121 <br><br> <strong>Телефон:</strong> +7 (498) 712-00-00<br> <strong>Email:</strong> info@irbismotors.ru</p>
                        </div>
                        <div class="col-lg-2 col-md-6 footer-links">
                            <h4>Информация</h4>
                            <ul>
                                <li><i class="bx bx-chevron-right"></i> <a href="/">Главная</a></li>
                                <li><i class="bx bx-chevron-right"></i> <a href="/about">О нас</a></li>
                                <li><i class="bx bx-chevron-right"></i> <a href="/novosti">Новости</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-3 col-md-6 footer-links">
                            <h4>Полезные ссылки</h4>
                            <ul>
                                <li><i class="bx bx-chevron-right"></i> <a href="/dilery">Где купить</a></li>
                                <li><i class="bx bx-chevron-right"></i> <a href="/catalog-archive">Архив моделей</a></li>
                                <li><i class="bx bx-chevron-right"></i> <a href="#">Контакты</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container d-md-flex py-4">
                <div class="me-md-auto text-center text-md-start">
                    <div class="copyright">© сайт <strong><span>Ирбис Моторз</span></strong>. Все права защищены</div>
                    <div class="credits">&nbsp;</div>
                </div>
                <div class="social-links text-center text-md-end pt-3 pt-md-0">
                    <a href="https://vk.com/irbismotors" target="_blank" class="vk">
                        <i class="bx bxl-vk"></i>
                    </a>
                    <a href="https://www.youtube.com/channel/UCfcjxtelFZKUWUKB8dBOQNA" class="tube" target="_blank">
                        <i class="bx bxl-youtube"></i>
                    </a>
                    <a href="https://ok.ru/group/70000003488804" class="instagram" target="_blank">
                        <i class="bx bxl-ok-ru"></i>
                    </a>
                    <a href="https://t.me/IRBIS_motors_pablik" class="google-plus" target="_blank">
                        <i class="bx bxl-telegram"></i>
                    </a>
                </div>
            </div>
        </footer>

        <a href="#" class="back-to-top d-flex align-items-center justify-content-center">
            <i class="bi bi-arrow-up-short"></i>
        </a>


        <!-- Vendor JS Files -->
        <script src="../vendors/purecounter/purecounter_vanilla.js"></script>
        <script src="../vendors/bootstrap/bootstrap.bundle.min.js"></script>
        <script src="../vendors/swiper/swiper-bundle.min.js"></script>
        <script src="../vendors/glightbox/glightbox.min.js"></script>
        <script src="../vendors/isotope/isotope.pkgd.min.js"></script>
        <script src="../vendors/php-email-form-validation/validate.js"></script>
        <script src="../vendors/aos/aos.js"></script>

        <!-- Project scripts -->
        <script src="../scripts/main.js"></script>


    </body>
</html>
