<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#" lang="ru">
    <head>
        <meta charset="utf-8">

        <title>Компания Ирбис Моторз - производство и продажа мототехники</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Favicons -->
        <link href="../favicon/favicon.png" rel="icon">
        <link href="../favicon/apple-touch-icon.png" rel="apple-touch-icon">

        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

        <!-- Vendors -->
        <link href="../vendors/bootstrap/bootstrap.min.css" rel="stylesheet">
        <link href="../vendors/swiper/swiper-bundle.min.css" rel="stylesheet">
        <link href="../vendors/glightbox/glightbox.min.css" rel="stylesheet">
        <link href="../vendors/aos/aos.css" rel="stylesheet">

        <!-- Icons -->
        <link href="../vendors/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
        <link href="../vendors/boxicons/boxicons.min.css" rel="stylesheet">
        <link href="../vendors/remixicon/remixicon.css" rel="stylesheet">

        <!-- Styles -->
        <link href="../styles/style.css" rel="stylesheet">
        <link href="../styles/antons-update.css" rel="stylesheet">

    </head>
    <body data-aos-easing="ease-in-out" data-aos-duration="1000" data-aos-delay="0">

        <header id="header" class="fixed-top d-flex align-items-center">
            <div class="container d-flex align-items-center miniheader">
                <h1 class="logo me-auto">
                    <a href="/">
                        <img src="../content/logo.svg" alt="">
                    </a>
                    <br>
                    <span class="logoh1">
                        Покупай Российское!
                    </span>
                </h1>
                <div class="mininav">
                    <div class="mb-2 cont">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: #e03a3c;">
                            <path d="M16.57 22a2 2 0 0 0 1.43-.59l2.71-2.71a1 1 0 0 0 0-1.41l-4-4a1 1 0 0 0-1.41 0l-1.6 1.59a7.55 7.55 0 0 1-3-1.59 7.62 7.62 0 0 1-1.59-3l1.59-1.6a1 1 0 0 0 0-1.41l-4-4a1 1 0 0 0-1.41 0L2.59 6A2 2 0 0 0 2 7.43 15.28 15.28 0 0 0 6.3 17.7 15.28 15.28 0 0 0 16.57 22zM6 5.41 8.59 8 7.3 9.29a1 1 0 0 0-.3.91 10.12 10.12 0 0 0 2.3 4.5 10.08 10.08 0 0 0 4.5 2.3 1 1 0 0 0 .91-.27L16 15.41 18.59 18l-2 2a13.28 13.28 0 0 1-8.87-3.71A13.28 13.28 0 0 1 4 7.41zM20 11h2a8.81 8.81 0 0 0-9-9v2a6.77 6.77 0 0 1 7 7z"></path>
                            <path d="M13 8c2.1 0 3 .9 3 3h2c0-3.22-1.78-5-5-5z"></path>
                        </svg>
                        +7 (498) 712-00-00;
                        <span class="headmail">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: #e03a3c;">
                                <path d="M20 4H6c-1.103 0-2 .897-2 2v5h2V8l6.4 4.8a1.001 1.001 0 0 0 1.2 0L20 8v9h-8v2h8c1.103 0 2-.897 2-2V6c0-1.103-.897-2-2-2zm-7 6.75L6.666 6h12.668L13 10.75z"></path>
                                <path d="M2 12h7v2H2zm2 3h6v2H4zm3 3h4v2H7z"></path>
                            </svg>
                            info@irbismotors.ru
                        </span>
                        <a href="https://vk.com/irbismotors" target="_blank" class="vk">
                            <i class="bx bxl-vk"></i>
                        </a>
                        <a href="https://www.youtube.com/channel/UCfcjxtelFZKUWUKB8dBOQNA" class="tube" target="_blank">
                            <i class="bx bxl-youtube"></i>
                        </a>
                        <a href="https://ok.ru/group/70000003488804" class="instagram" target="_blank">
                            <i class="bx bxl-ok-ru"></i>
                        </a>
                        <a href="https://t.me/IRBIS_motors_pablik" class="google-plus" target="_blank">
                            <i class="bx bxl-telegram"></i>
                        </a>
                        <a href="https://www.wildberries.ru/seller/4256227" class="google-plus" target="_blank">
                            <img src="../content/markets/wildberries.png" style="width: 18px; margin-left: 3px; margin-top: -2px;" alt="">
                        </a>
                        <a href="https://www.ozon.ru/seller/irbis-motors-2195395/products/?miniapp=seller_2195395" class="google-plus" target="_blank">
                            <img src="../content/markets/ozon.png" style="width: 18px; margin-left: 7px; margin-top: -2px;" alt="">
                        </a>
                    </div>
                    <nav id="navbar" class="navbar order-last order-lg-0">
                        <ul>
                            <li class="active"><a class="scrollto nav-link" data-value="" href="#">Главная </a></li>
                            <li><a class="scrollto nav-link" data-value="portfolio" href="#">Каталог </a></li>
                            <li><a class="scrollto nav-link" data-value="pricing" href="#">Новости </a></li>
                            <li><a class="scrollto nav-link" data-value="pricing" href="#">О нас</a></li>
                            <li><a class="scrollto nav-link" data-value="contact" href="#">Контакты </a></li>
                            <li><a class="scrollto nav-link" data-value="catalog-archive" href="#">Архив моделей </a></li>
                            <li><a class="scrollto nav-link" data-value="dilery" href="#">Где купить? </a></li>
                        </ul>
                        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
                    </nav>
                </div>
            </div>
        </header>

        <main id="main">

            <section class="breadcrumbs">
                <div class="container">
                    <ol>
                        <li>
                            <a href="#">Главная</a>
                        </li>
                        <li>
                            <a href="#">Архив моделей</a>
                        </li>
                        <li class="active">
                            ВНЕДОРОЖНЫЙ МОТОЦИКЛ TTR125R
                        </li>
                    </ol>
                    <h2>
                        Архив моделей. ВНЕДОРОЖНЫЙ МОТОЦИКЛ TTR125R
                    </h2>
                </div>
            </section>

            <section id="portfolio-details" class="portfolio-details">
                <div class="container">
                    <div class="row gy-4">
                        <div class="col-lg-8">
                            <div class="portfolio-details-slider swiper">
                                <div class="swiper-wrapper align-items-center">
                                    <div class="swiper-slide">
                                        <img src="../temp/catalog-fulls/H-1080px_VJ-5.jpg" alt="">
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="../temp/catalog-fulls/H-1080px_VJ-6.jpg" alt="">
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="../temp/catalog-fulls/H-1080px_VJ-2.jpg" alt="">
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="../temp/catalog-fulls/H-1080px_VJ-1.jpg" alt="">
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="../temp/catalog-fulls/H-1080px_VJ-3.jpg" alt="">
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="../temp/catalog-fulls/H-1080px_VJ-7.jpg" alt="">
                                    </div>
                                </div>
                                <div class="swiper-pagination">

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="portfolio-info">
                                <h3>Основные характеристики</h3>
                                <ul>
                                    <li>
                                        <strong>Тип и объем двигателя</strong>:
                                        <strong>223 куб.см 4т</strong>
                                    </li>
                                    <li>
                                        <strong>Сухая масса</strong>:
                                        <strong>125кг</strong>
                                    </li>
                                    <li>
                                        <strong>Длина/Ширина/Высота</strong>:
                                        <strong>2070x750x1070</strong>
                                    </li>
                                    <li>
                                        <strong>Объём бензобака</strong>:
                                        <strong>19л</strong>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row gy-4">
                        <div class="col-lg-12">
                            <div id="detail_text">
                                <p>Мотоцикл IRBIS TTR 125R 2021 модельного года — новое поколение популярного питбайка с усовершенствованным 125-кубовым 4-тактным двигателем. Данный мотоцикл это совместная разработка российской компании IRBIS MOTORS и французской компании APOLLO MOTORS. Питбайк подходит начинающим и опытным райдерам.</p>
                                <p>По сравнению с предыдущей генерацией, TTR 125R приобрел обновленную усиленную раму, сварные швы тщательно проварены и проверены. Рама прошла антикоррозийную обработку и полимерную окраску. Дополнительно на раму крепятся&nbsp; пластиковые накладки защищающие мотоботы и раму.</p>
                                <p>Руль усиленный, переменного сечения, с мягкими грипсами и дополнительной демпферной накладкой на поперечине.</p>
                                <p>Спортивные колеса собраны из высокопрочных стальных ободов 14/17 дюймов и износостойких шин с агрессивным внедорожным протектором. Питбайк устойчив на всех типах дорожных покрытий и бездорожье.</p>
                                <p>Удобное сиденье оптимальной жесткости и антискользящим покрытием удержит любого райдера.</p>
                                <p>Усиленный стальной задний маятник, приводная цепь 428.</p>
                                <p>Подвеска отлично справляются с любыми неровностями. Задний амортизатор защищен кожухом. Спереди установлена телескопическая вилка перевернутого типа, что существенно увеличивает ее рабочий ход.</p>
                                <p>Дисковые тормоза обеспечивают уверенное торможение на всех типах дорожного покрытия.</p>
                                <p>Ручки тормоза и сцепления складывающиеся, при падении они не ломаются.</p>
                                <p>Электростартер дополнен кикстартером.</p>
                                <p>Большой топливный бак на 4,8 литра.</p>
                                <p>Установлена электронная панель приборов с отображением скорости, суточного пробега, общего пробега и оборотов двигателя. Фара с ближним и дальним светом позволит передвигаться в любое время суток.</p>
                                <p>Сухой вес мотоцикла всего 72кг.</p>
                                <p>Нарезайте круги на треке, месите грязь, зажигайте по лесным тропинкам — доставляйте себе массу удовольствия и впечатлений вместе с ТТR 125R!</p>
                                <p>* - Минимальная рекомендуемая розничная цена для мотоцикла IRBIS TTR 125R, без учета стоимости доставки в регионы РФ</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section id="tabs" class="tabs">
                <div class="container" data-aos="fade-up">
                    <ul class="nav nav-tabs row d-flex">
                        <li class="nav-item col-4">
                            <a class="nav-link active show" data-bs-toggle="tab" data-bs-target="#tab-2">
                                <i class="ri-settings-2-fill"></i>
                                <h4 class="d-none d-lg-block">Двигатель</h4>
                            </a>
                        </li>
                        <li class="nav-item col-4">
                            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-3">
                                <i class="ri-motorbike-fill"></i>
                                <h4 class="d-none d-lg-block">Ходовая</h4>
                            </a>
                        </li>
                        <li class="nav-item col-4">
                            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-4">
                                <i class="ri-book-mark-fill"></i>
                                <h4 class="d-none d-lg-block">Все характеристики</h4>
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane  active show" id="tab-2">
                            <div class="row">
                                <div class="col-lg-8 order-2 order-lg-1 mt-3 mt-lg-0" data-aos="fade-up" data-aos-delay="100">
                                    <div class="detail_param_param" style="display: block;">
                                        <div class="detail_param_item">
                                            <div class="l">Тип</div>
                                            <div class="r">Спортивный</div>
                                        </div>
                                        <div class="detail_param_item">
                                            <div class="l">Скорость</div>
                                            <div class="r">110 км/ч</div>
                                        </div>
                                        <div class="detail_param_item">
                                            <div class="l">Коробка передач</div>
                                            <div class="r">5-ступенчатая, механическая</div>
                                        </div>
                                        <div class="detail_param_item">
                                            <div class="l">Рабочий обьём</div>
                                            <div class="r">223 куб. см</div>
                                        </div>
                                        <div class="detail_param_item">
                                            <div class="l">Система питания</div>
                                            <div class="r">Карбюратор</div>
                                        </div>
                                        <div class="detail_param_item">
                                            <div class="l">Мощность, л.с. при об/мин</div>
                                            <div class="r">15,5 л.с. при 7500 об/мин</div>
                                        </div>
                                        <div class="detail_param_item">
                                            <div class="l">Крутящий момент, Н-м при об/мин</div>
                                            <div class="r">17,0 Н.м. при 6500 об/мин</div>
                                        </div>
                                        <div class="detail_param_item">
                                            <div class="l">Система охлаждения</div>
                                            <div class="r">Воздушная</div>
                                        </div>
                                        <div class="detail_param_item">
                                            <div class="l">Система запуска</div>
                                            <div class="r">Электростартер, кикстартер</div>
                                        </div>
                                        <div class="detail_param_item">
                                            <div class="l">Главная передача</div>
                                            <div class="r">Усиленная цепь 428</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 order-1 order-lg-2 text-center" data-aos="fade-up" data-aos-delay="200">
                                    <img src="../content/parts-preview/dv.png" alt="" class="img-fluid">
                                </div>
                            </div>
                        </div>


                        <div class="tab-pane" id="tab-3">
                            <div class="row">
                                <div class="col-lg-8 order-2 order-lg-1 mt-3 mt-lg-0" data-aos="fade-up" data-aos-delay="100">
                                    <div class="detail_param_param" style="display: block;">
                                        <div class="detail_param_item">
                                            <div class="l">Рама</div>
                                            <div class="r">Пространственная, трубчатая, стальная.</div>
                                        </div>
                                        <div class="detail_param_item">
                                            <div class="l">Тормозная система</div>
                                            <div class="r">Гидравлическая</div>
                                        </div>
                                        <div class="detail_param_item">
                                            <div class="l">Передний тормоз</div>
                                            <div class="r">Дисковый</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 order-1 order-lg-2 text-center" data-aos="fade-up" data-aos-delay="200">
                                    <img src="../content/parts-preview/h.png" alt="" class="img-fluid">
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-4">
                            <div class="row">
                                <div class="col-lg-8 order-2 order-lg-1 mt-3 mt-lg-0" data-aos="fade-up" data-aos-delay="100">
                                    <div class="detail_param_param" style="display: block;">
                                        <div class="detail_param_item">
                                            <div class="l">Тип и объем двигателя</div>
                                            <div class="r">223 куб.см 4т</div>
                                        </div>
                                        <div class="detail_param_item">
                                            <div class="l">Сухая масса</div>
                                            <div class="r">125кг</div>
                                        </div>
                                        <div class="detail_param_item">
                                            <div class="l">Длина/Ширина/Высота</div>
                                            <div class="r">2070x750x1070</div>
                                        </div>
                                        <div class="detail_param_item">
                                            <div class="l">Объём бензобака</div>
                                            <div class="r">19л</div>
                                        </div>
                                        <div class="detail_param_item">
                                            <div class="l">Тип</div>
                                            <div class="r">Спортивный</div>
                                        </div>
                                        <div class="detail_param_item">
                                            <div class="l">Скорость</div>
                                            <div class="r">110 км/ч</div>
                                        </div>
                                        <div class="detail_param_item">
                                            <div class="l">Коробка передач</div>
                                            <div class="r">5-ступенчатая, механическая</div>
                                        </div>
                                        <div class="detail_param_item">
                                            <div class="l">Рабочий обьём</div>
                                            <div class="r">223 куб. см</div>
                                        </div>
                                        <div class="detail_param_item">
                                            <div class="l">Система питания</div>
                                            <div class="r">Карбюратор</div>
                                        </div>
                                        <div class="detail_param_item">
                                            <div class="l">Мощность, л.с. при об/мин</div>
                                            <div class="r">15,5 л.с. при 7500 об/мин</div>
                                        </div>
                                        <div class="detail_param_item">
                                            <div class="l">Крутящий момент, Н-м при об/мин</div>
                                            <div class="r">17,0 Н.м. при 6500 об/мин</div>
                                        </div>
                                        <div class="detail_param_item">
                                            <div class="l">Система охлаждения</div>
                                            <div class="r">Воздушная</div>
                                        </div>
                                        <div class="detail_param_item">
                                            <div class="l">Система запуска</div>
                                            <div class="r">Электростартер, кикстартер</div>
                                        </div>
                                        <div class="detail_param_item">
                                            <div class="l">Главная передача</div>
                                            <div class="r">Усиленная цепь 428</div>
                                        </div>
                                        <div class="detail_param_item">
                                            <div class="l">Рама</div>
                                            <div class="r">Пространственная, трубчатая, стальная.</div>
                                        </div>
                                        <div class="detail_param_item">
                                            <div class="l">Тормозная система</div>
                                            <div class="r">Гидравлическая</div>
                                        </div>
                                        <div class="detail_param_item">
                                            <div class="l">Передний тормоз</div>
                                            <div class="r">Дисковый</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 order-1 order-lg-2 text-center" data-aos="fade-up" data-aos-delay="200">
                                    <img src="../content/parts-preview/sh.png" alt="" class="img-fluid">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <div class="section-title">
                <h2>Материалы</h2>
            </div>
            <div class="container" data-aos="fade-up">
                <div class="row">
                    <div class="col-lg-6 d-flex" style="align-items: center;">
                        <a href="#">
                            <img src="../content/pdf.png" style="padding:10px;">
                        </a>
                        <div class="desc">Руководство по эксплуатации</div>
                    </div>
                    <div class="col-lg-6 d-flex" style="align-items: center;">
                        <a href="#">
                            <img src="../content/pdf.png" style="padding:10px;">
                        </a>
                        <div class="desc">Руководство по сборке</div>
                    </div>
                    <div class="col-lg-6 d-flex" style="align-items: center;">
                        <a href="#">
                            <img src="../content/pdf.png" style="padding:10px;">
                        </a>
                        <div class="desc">Каталог запчастей</div>
                    </div>
                </div>
            </div>

            <br>
            <br>


            <!-- Видосы грузятся скриптом. Смотри main.js -->
            <div class="section-title">
                <h2>Видео</h2>
            </div>
            <div class="container" data-aos="fade-up">
                <div class="row">
                    <div class="col-lg-6 d-flex" style="align-items: center; justify-content: center;">
                        <div class="youtube" id="9ZkNo56C4p8" style="width: 640px; height: 360px;max-width:95%">&nbsp;</div>
                    </div>
                    <div class="col-lg-6 d-flex" style="align-items: center; justify-content: center;">
                        <div class="youtube" id="l_gCYgb-01E" style="width: 640px; height: 360px;max-width:95%">&nbsp;</div>
                    </div>
                    <div class="col-lg-6 d-flex" style="align-items: center; justify-content: center;">
                        <div class="youtube" id="VjueHZYX694" style="width: 640px; height: 360px;max-width:95%">&nbsp;</div>
                    </div>
                    <div class="col-lg-6 d-flex" style="align-items: center; justify-content: center;">
                        <div class="youtube" id="LIYd5sbtdd4" style="width: 640px; height: 360px;max-width:95%">&nbsp;</div>
                    </div>
                    <div class="col-lg-6 d-flex" style="align-items: center; justify-content: center;">
                        <div class="youtube" id="okNapUAwI6w" style="width: 640px; height: 360px;max-width:95%">&nbsp;</div>
                    </div>
                    <div class="col-lg-6 d-flex" style="align-items: center; justify-content: center;">
                        <div class="youtube" id="a0Nu90qLL4Y" style="width: 640px; height: 360px;max-width:95%">&nbsp;</div>
                    </div>
                    <div class="col-lg-6 d-flex" style="align-items: center; justify-content: center;">
                        <div class="youtube" id="yMksd3q51gg" style="width: 640px; height: 360px;max-width:95%">&nbsp;</div>
                    </div>
                </div>
            </div>

            <div id="system-message-container">

            </div>

            <section id="contact" class="contact">
                <div class="container" data-aos="fade-up">
                    <div class="section-title">
                        <h2>Контакты</h2>
                    </div>
                    <div class="row" data-aos="fade-up" data-aos-delay="100">
                        <div class="col-lg-6">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="info-box"><i class="bx bx-map"></i>
                                        <h3>Наш адрес</h3>
                                        <p>142603, Московская обл, Орехово-Зуево г, Тургенева ул, дом 1, литера А, помещение 121</p>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="info-box mt-4"><i class="bx bx-envelope"></i>
                                        <h3>Email</h3>
                                        <p>info@irbismotors.ru</p>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="info-box mt-4"><i class="bx bx-phone-call"></i>
                                        <h3>Телефон</h3>
                                        <p>+7 (498) 712-00-00</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <form action="/send.php" method="post" class="php-form">
                                <div class="row">
                                    <div class="col form-group"><input type="text" name="name" class="form-control" placeholder="Ваше Имя" required=""></div>
                                    <div class="col form-group"><input type="email" class="form-control" name="email" placeholder="Ваш Email" required=""></div>
                                </div>
                                <div class="form-group"><input type="text" class="form-control" name="phone" placeholder="Телефон"></div>
                                <input type="hidden" class="form-control" name="phone1" placeholder="Телефон">
                                <input type="text" class="form-control" name="phone2" placeholder="Телефон" style="display:none;">
                                <div class="form-group"><input type="text" class="form-control" name="subject" placeholder="Тема" required=""></div>
                                <div class="form-group"><textarea class="form-control" name="message" rows="5" placeholder="Сообщение" required=""></textarea></div>
                                <p><input type="checkbox" name="a" value="1"> Отправляя форму, Вы даёте согласие на обработку персональных данных в соответствии <a href="../docs/konf.pdf">с политикой конфиденциальности сайта </a></p>
                                <div class="text-center">
                                    <button type="submit">Написать нам</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
        </main>

        <footer id="footer">
            <div class="footer-top">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 footer-contact">
                            <h3>Ирбис Моторз<span>.</span></h3>
                            <p>142603, Московская обл, <br> Орехово-Зуево г, Тургенева ул,<br> дом 1, литера А, помещение 121 <br><br> <strong>Телефон:</strong> +7 (498) 712-00-00<br> <strong>Email:</strong> info@irbismotors.ru</p>
                        </div>
                        <div class="col-lg-2 col-md-6 footer-links">
                            <h4>Информация</h4>
                            <ul>
                                <li><i class="bx bx-chevron-right"></i> <a href="/">Главная</a></li>
                                <li><i class="bx bx-chevron-right"></i> <a href="/about">О нас</a></li>
                                <li><i class="bx bx-chevron-right"></i> <a href="/novosti">Новости</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-3 col-md-6 footer-links">
                            <h4>Полезные ссылки</h4>
                            <ul>
                                <li><i class="bx bx-chevron-right"></i> <a href="/dilery">Где купить</a></li>
                                <li><i class="bx bx-chevron-right"></i> <a href="/catalog-archive">Архив моделей</a></li>
                                <li><i class="bx bx-chevron-right"></i> <a href="#">Контакты</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container d-md-flex py-4">
                <div class="me-md-auto text-center text-md-start">
                    <div class="copyright">© сайт <strong><span>Ирбис Моторз</span></strong>. Все права защищены</div>
                    <div class="credits">&nbsp;</div>
                </div>
                <div class="social-links text-center text-md-end pt-3 pt-md-0">
                    <a href="https://vk.com/irbismotors" target="_blank" class="vk">
                        <i class="bx bxl-vk"></i>
                    </a>
                    <a href="https://www.youtube.com/channel/UCfcjxtelFZKUWUKB8dBOQNA" class="tube" target="_blank">
                        <i class="bx bxl-youtube"></i>
                    </a>
                    <a href="https://ok.ru/group/70000003488804" class="instagram" target="_blank">
                        <i class="bx bxl-ok-ru"></i>
                    </a>
                    <a href="https://t.me/IRBIS_motors_pablik" class="google-plus" target="_blank">
                        <i class="bx bxl-telegram"></i>
                    </a>
                </div>
            </div>
        </footer>

        <a href="#" class="back-to-top d-flex align-items-center justify-content-center">
            <i class="bi bi-arrow-up-short"></i>
        </a>


        <!-- Vendor JS Files -->
        <script src="../vendors/purecounter/purecounter_vanilla.js"></script>
        <script src="../vendors/bootstrap/bootstrap.bundle.min.js"></script>
        <script src="../vendors/swiper/swiper-bundle.min.js"></script>
        <script src="../vendors/glightbox/glightbox.min.js"></script>
        <script src="../vendors/isotope/isotope.pkgd.min.js"></script>
        <script src="../vendors/php-email-form-validation/validate.js"></script>
        <script src="../vendors/aos/aos.js"></script>

        <!-- Project scripts -->
        <script src="../scripts/main.js"></script>


    </body>
</html>
