<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#" lang="ru">
    <head>
        <meta charset="utf-8">

        <title>Компания Ирбис Моторз - производство и продажа мототехники</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Favicons -->
        <link href="../favicon/favicon.png" rel="icon">
        <link href="../favicon/apple-touch-icon.png" rel="apple-touch-icon">

        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">

        <!-- Vendors -->
        <link href="../vendors/bootstrap/bootstrap.min.css" rel="stylesheet">
        <link href="../vendors/swiper/swiper-bundle.min.css" rel="stylesheet">
        <link href="../vendors/glightbox/glightbox.min.css" rel="stylesheet">
        <link href="../vendors/aos/aos.css" rel="stylesheet">

        <!-- Icons -->
        <link href="../vendors/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
        <link href="../vendors/boxicons/boxicons.min.css" rel="stylesheet">
        <link href="../vendors/remixicon/remixicon.css" rel="stylesheet">

        <!-- Styles -->
        <link href="../styles/style.css" rel="stylesheet">

    </head>
    <body data-aos-easing="ease-in-out" data-aos-duration="1000" data-aos-delay="0">

        <header id="header" class="fixed-top d-flex align-items-center">
            <div class="container d-flex align-items-center miniheader">
                <h1 class="logo me-auto">
                    <a href="/">
                        <img src="../content/logo.svg" alt="">
                    </a>
                    <br>
                    <span class="logoh1">
                        Покупай Российское!
                    </span>
                </h1>
                <div class="mininav">
                    <div class="mb-2 cont">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: #e03a3c;">
                            <path d="M16.57 22a2 2 0 0 0 1.43-.59l2.71-2.71a1 1 0 0 0 0-1.41l-4-4a1 1 0 0 0-1.41 0l-1.6 1.59a7.55 7.55 0 0 1-3-1.59 7.62 7.62 0 0 1-1.59-3l1.59-1.6a1 1 0 0 0 0-1.41l-4-4a1 1 0 0 0-1.41 0L2.59 6A2 2 0 0 0 2 7.43 15.28 15.28 0 0 0 6.3 17.7 15.28 15.28 0 0 0 16.57 22zM6 5.41 8.59 8 7.3 9.29a1 1 0 0 0-.3.91 10.12 10.12 0 0 0 2.3 4.5 10.08 10.08 0 0 0 4.5 2.3 1 1 0 0 0 .91-.27L16 15.41 18.59 18l-2 2a13.28 13.28 0 0 1-8.87-3.71A13.28 13.28 0 0 1 4 7.41zM20 11h2a8.81 8.81 0 0 0-9-9v2a6.77 6.77 0 0 1 7 7z"></path>
                            <path d="M13 8c2.1 0 3 .9 3 3h2c0-3.22-1.78-5-5-5z"></path>
                        </svg>
                        +7 (498) 712-00-00;
                        <span class="headmail">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: #e03a3c;">
                                <path d="M20 4H6c-1.103 0-2 .897-2 2v5h2V8l6.4 4.8a1.001 1.001 0 0 0 1.2 0L20 8v9h-8v2h8c1.103 0 2-.897 2-2V6c0-1.103-.897-2-2-2zm-7 6.75L6.666 6h12.668L13 10.75z"></path>
                                <path d="M2 12h7v2H2zm2 3h6v2H4zm3 3h4v2H7z"></path>
                            </svg>
                            info@irbismotors.ru
                        </span>
                        <a href="https://vk.com/irbismotors" target="_blank" class="vk">
                            <i class="bx bxl-vk"></i>
                        </a>
                        <a href="https://www.youtube.com/channel/UCfcjxtelFZKUWUKB8dBOQNA" class="tube" target="_blank">
                            <i class="bx bxl-youtube"></i>
                        </a>
                        <a href="https://ok.ru/group/70000003488804" class="instagram" target="_blank">
                            <i class="bx bxl-ok-ru"></i>
                        </a>
                        <a href="https://t.me/IRBIS_motors_pablik" class="google-plus" target="_blank">
                            <i class="bx bxl-telegram"></i>
                        </a>
                        <a href="https://www.wildberries.ru/seller/4256227" class="google-plus" target="_blank">
                            <img src="../content/markets/wildberries.png" style="width: 18px; margin-left: 3px; margin-top: -2px;" alt="">
                        </a>
                        <a href="https://www.ozon.ru/seller/irbis-motors-2195395/products/?miniapp=seller_2195395" class="google-plus" target="_blank">
                            <img src="../content/markets/ozon.png" style="width: 18px; margin-left: 7px; margin-top: -2px;" alt="">
                        </a>
                    </div>
                    <nav id="navbar" class="navbar order-last order-lg-0">
                        <ul>
                            <li class="active"><a class="scrollto nav-link" data-value="" href="#">Главная </a></li>
                            <li><a class="scrollto nav-link" data-value="portfolio" href="#">Каталог </a></li>
                            <li><a class="scrollto nav-link" data-value="pricing" href="#">Новости </a></li>
                            <li><a class="scrollto nav-link" data-value="pricing" href="#">О нас</a></li>
                            <li><a class="scrollto nav-link" data-value="contact" href="#">Контакты </a></li>
                            <li><a class="scrollto nav-link" data-value="catalog-archive" href="#">Архив моделей </a></li>
                            <li><a class="scrollto nav-link" data-value="dilery" href="#">Где купить? </a></li>
                        </ul>
                        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
                    </nav>
                </div>
            </div>
        </header>

        <main id="main">

            <section class="breadcrumbs">
                <div class="container">
                    <ol>
                        <li>
                            <a href="#">Главная</a>
                        </li>
                        <li class="active">
                            Региональные дилеры
                        </li>
                    </ol>
                    <h2>
                        Региональные дилеры
                    </h2>
                </div>
            </section>

            <div id="system-message-container">

            </div>

            <div id="k2Container" class="container itemView">
                <div class="moduletable">
                    <div class="section-title">
                        <h2 style="margin-top: 40px;">Дилеры. Московская область</h2>
                    </div>
                    <div class="container">
                        <div class="row d-row d-flex">
                            <div class="col-lg-3">
                                Имакс Мото<br>
                                <strong>8 (929) 638-2480</strong>
                            </div>
                            <div class="col-lg-4">
                                г. Люберцы, ул. 3-е Почтовое отделение д. 98
                            </div>
                            <div class="col-lg-5">
                                <img class="d-icon"       src="../content/products/g1.png" title="продажа мотоциклов">
                                <img class="d-icon"       src="../content/products/g2.png" title="продажа квадроциклов">
                                <img class="d-icon"       src="../content/products/g3.png" title="продажа снегоходов">
                                <img class="d-icon"       src="../content/products/g4.png" title="продажа аксессуаров">
                                <img class="d-icon"       src="../content/products/g5.png" title="продажа запчастей">
                                <img class="d-icon"       src="../content/products/g6.png" title="ремонт техники">
                                <img class="d-icon dgrey" src="../content/products/g7.png" title="кредит">
                            </div>
                        </div>

                        <div class="row d-row d-flex">
                            <div class="col-lg-3">
                                СКУТЕР СИТИ<br>
                                <strong>+7 (495) 104-55-88</strong>
                            </div>
                            <div class="col-lg-4">
                                г. Балашиха, Западная коммунальная зона, Шоссе Энтузиастов владение 1А лит Б мотосалон Stels
                            </div>
                            <div class="col-lg-5">
                                <img class="d-icon"        src="../content/products/g1.png" title="продажа мотоциклов">
                                <img class="d-icon"        src="../content/products/g2.png" title="продажа квадроциклов">
                                <img class="d-icon"        src="../content/products/g3.png" title="продажа снегоходов">
                                <img class="d-icon"        src="../content/products/g4.png" title="продажа аксессуаров">
                                <img class="d-icon"        src="../content/products/g5.png" title="продажа запчастей">
                                <img class="d-icon  dgrey" src="../content/products/g6.png" title="ремонт техники">
                                <img class="d-icon"        src="../content/products/g7.png" title="кредит">
                            </div>
                        </div>
                        <div class="row d-row d-flex">
                            <div class="col-lg-3">
                                ТОРГМАШ<br>
                                <strong>+7 (495) 230-77-55</strong>
                            </div>
                            <div class="col-lg-4">
                                г. Мытищи, Мытищинский р-н, пос. Нагорное, ул. Центральная вл. 2, стр. 1
                            </div>
                            <div class="col-lg-5">
                                <img class="d-icon"       src="../content/products/g1.png" title="продажа мотоциклов">
                                <img class="d-icon dgrey" src="../content/products/g2.png" title="продажа квадроциклов">
                                <img class="d-icon dgrey" src="../content/products/g3.png" title="продажа снегоходов">
                                <img class="d-icon dgrey" src="../content/products/g4.png" title="продажа аксессуаров">
                                <img class="d-icon dgrey" src="../content/products/g5.png" title="продажа запчастей">
                                <img class="d-icon"       src="../content/products/g6.png" title="ремонт техники">
                                <img class="d-icon"       src="../content/products/g7.png" title="кредит">
                            </div>
                        </div>
                    </div>
                </div>

                <section id="portfolio-details" class="portfolio-details">
                    <div class="item-page">
                        <div class="infodiv2">
                            <figure id="imapc" class="">
                                <object data="../content/map_russia_with_crimea_and_sevastopol2.svg" type="image/svg+xml" id="imap" width="auto" height="auto"></object>
                            </figure>
                            <p class="round" style="text-align: left; margin-left: 0;">
                                <img src="../content/legend/3.png"> Регион присутствия дилеров
                                <br>
                                <img src="../content/legend/34.png"> Регион возможной доставки через интернет-магазин
                                <br>
                                <img src="../content/legend/1.png"> Регион перспективы развития
                            </p>
                            <div class="regions">
                                <div class="reglettergroup">
                                    <div class="regletter">А</div>
                                    <a href="/dealers?ids=1" aria-controls="AMU2">
                                        <div class="region">Алтайский край</div>
                                    </a>
                                    <a href="/dealers?ids=72" aria-controls="AMU2">
                                        <div class="region">Республика Алтай</div>
                                    </a>
                                    <a href="/dealers?ids=60" aria-controls="ARK2">
                                        <div class="region">Амурская область</div>
                                    </a>
                                    <a href="/dealers?ids=2" aria-controls="AST2">
                                        <div class="region">Республика Адыгея</div>
                                    </a>
                                    <a href="/dealers?ids=3" aria-controls="AST2">
                                        <div class="region">Архангельская область</div>
                                    </a>
                                    <a href="/dealers?ids=4" aria-controls="AST2">
                                        <div class="region">Астраханская область</div>
                                    </a>
                                </div>
                                <div class="reglettergroup">
                                    <div class="regletter">Б</div>
                                    <a href="/dealers?ids=76" aria-controls="BEL2">
                                        <div class="region">Республика Беларусь</div>
                                    </a>
                                    <a href="/dealers?ids=5" aria-controls="BEL2">
                                        <div class="region">Республика Башкортостан</div>
                                    </a>
                                    <a href="/dealers?ids=6" aria-controls="BEL2">
                                        <div class="region">Белгородская область</div>
                                    </a>
                                    <a href="/dealers?ids=7" aria-controls="BEL2">
                                        <div class="region">Брянская область</div>
                                    </a>
                                    <a href="/dealers?ids=8" aria-controls="BEL2">
                                        <div class="region">Республика Бурятия</div>
                                    </a>
                                </div>
                                <div class="reglettergroup">
                                    <div class="regletter">В</div>
                                    <a href="/dealers?ids=9" aria-controls="VGG2">
                                        <div class="region">Владимирская область</div>
                                    </a>
                                    <a href="/dealers?ids=77" aria-controls="VOLO2">
                                        <div class="region">Волгоградская область</div>
                                    </a>
                                    <a href="/dealers?ids=10" aria-controls="VOLO2">
                                        <div class="region">Вологодская область</div>
                                    </a>
                                    <a href="/dealers?ids=11" aria-controls="VOR2">
                                        <div class="region">Воронежская область</div>
                                    </a>
                                </div>
                                <div class="reglettergroup">
                                    <div class="regletter">Д</div>
                                    <a href="/dealers?ids=66" aria-controls="EV2">
                                        <div class="region">Республика Дагестан</div>
                                    </a>
                                </div>
                                <div class="reglettergroup">
                                    <div class="regletter">Е</div>
                                    <a href="/dealers?ids=61" aria-controls="EV2">
                                        <div class="region">Еврейская АО</div>
                                    </a>
                                </div>
                                <div class="reglettergroup">
                                    <div class="regletter">З</div>
                                    <a href="/dealers?ids=71" aria-controls="EV2">
                                        <div class="region">Забайкальский край</div>
                                    </a>
                                </div>
                                <div class="reglettergroup">
                                    <div class="regletter">И</div>
                                    <a href="/dealers?ids=12" aria-controls="IVA2">
                                        <div class="region">Ивановская область</div>
                                    </a>
                                    <a href="/dealers?ids=13" aria-controls="IRK2">
                                        <div class="region">Иркутская область</div>
                                    </a>
                                </div>
                                <div class="reglettergroup">
                                    <div class="regletter">К</div>
                                    <a href="/dealers?ids=14" aria-controls="KGD2">
                                        <div class="region">Казахстан</div>
                                    </a>
                                    <a href="/dealers?ids=74" aria-controls="KGD2">
                                        <div class="region">Калининградская область</div>
                                    </a>
                                    <a href="/dealers?ids=82" aria-controls="KGD2">
                                        <div class="region">Калужская область</div>
                                    </a>
                                    <a href="/dealers?ids=64" aria-controls="KGD2">
                                        <div class="region">Республика Калмыкия</div>
                                    </a>
                                    <a href="/dealers?ids=15" aria-controls="KGD2">
                                        <div class="region">Камчатская область</div>
                                    </a>
                                    <a href="/dealers?ids=16" aria-controls="KGD2">
                                        <div class="region">Республика Карелия</div>
                                    </a>
                                    <a href="/dealers?ids=17" aria-controls="KLU2">
                                        <div class="region">Кемеровская область</div>
                                    </a>
                                    <a href="/dealers?ids=18" aria-controls="KIR2">
                                        <div class="region">Кировская область</div>
                                    </a>
                                    <a href="/dealers?ids=19" aria-controls="KIR2">
                                        <div class="region">Республика Коми</div>
                                    </a>
                                    <a href="/dealers?ids=20" aria-controls="KOS2">
                                        <div class="region">Костромская область</div>
                                    </a>
                                    <a href="/dealers?ids=21" aria-controls="KDA2">
                                        <div class="region">Краснодарский край</div>
                                    </a>
                                    <a href="/dealers?ids=22" aria-controls="KRS2">
                                        <div class="region">Красноярский край</div>
                                    </a>
                                    <a href="/dealers?ids=65" aria-controls="KRS2">
                                        <div class="region">Республика Крым</div>
                                    </a>
                                    <a href="/dealers?ids=63" aria-controls="KRS2">
                                        <div class="region">Курганская область</div>
                                    </a>
                                    <a href="/dealers?ids=23" aria-controls="KRS2">
                                        <div class="region">Курская область</div>
                                    </a>
                                </div>
                                <div class="reglettergroup">
                                    <div class="regletter">Л</div>
                                    <a href="/dealers?ids=24" aria-controls="LIP2">
                                        <div class="region">Липецкая область</div>
                                    </a>
                                </div>
                                <div class="reglettergroup">
                                    <div class="regletter">М</div>
                                    <a href="/dealers?ids=69" aria-controls="MOS2">
                                        <div class="region">Магаданская область</div>
                                    </a>
                                    <a href="/dealers?ids=25" aria-controls="MOS2">
                                        <div class="region">Республика Марий Эл</div>
                                    </a>
                                    <a href="/dealers?ids=80" aria-controls="MOS2">
                                        <div class="region">Республика Мордовия</div>
                                    </a>
                                    <a href="/dealers?ids=26" aria-controls="MOS2">
                                        <div class="region">г. Москва</div>
                                    </a>
                                    <a href="/dealers?ids=27" aria-controls="MOS2">
                                        <div class="region">Московская область</div>
                                    </a>
                                    <a href="/dealers?ids=28" aria-controls="MUR2">
                                        <div class="region">Мурманская область</div>
                                    </a>
                                </div>
                                <div class="reglettergroup">
                                    <div class="regletter">Н</div>
                                    <a href="/dealers?ids=67" aria-controls="NIZ2">
                                        <div class="region">Ненецкий АО</div>
                                    </a>
                                    <a href="/dealers?ids=29" aria-controls="NIZ2">
                                        <div class="region">Нижегородская область</div>
                                    </a>
                                    <a href="/dealers?ids=30" aria-controls="NIZ2">
                                        <div class="region">Новгородская область</div>
                                    </a>
                                    <a href="/dealers?ids=31" aria-controls="NIZ2">
                                        <div class="region">Новосибирская область</div>
                                    </a>
                                </div>
                                <div class="reglettergroup">
                                    <div class="regletter">О</div>
                                    <a href="/dealers?ids=32" aria-controls="ORL2">
                                        <div class="region">Омская область</div>
                                    </a>
                                    <a href="/dealers?ids=33" aria-controls="ORL2">
                                        <div class="region">Оренбургская область</div>
                                    </a>
                                    <a href="/dealers?ids=78" aria-controls="ORL2">
                                        <div class="region">Орловская область</div>
                                    </a>
                                </div>
                                <div class="reglettergroup">
                                    <div class="regletter">П</div>
                                    <a href="/dealers?ids=34" aria-controls="PER2">
                                        <div class="region">Пензенская область</div>
                                    </a>
                                    <a href="/dealers?ids=35" aria-controls="PER2">
                                        <div class="region">Пермский край</div>
                                    </a>
                                    <a href="/dealers?ids=70" aria-controls="PRI2">
                                        <div class="region">Приморский край</div>
                                    </a>
                                    <a href="/dealers?ids=37" aria-controls="PNZ2">
                                        <div class="region">Псковская область</div>
                                    </a>
                                </div>
                                <div class="reglettergroup">
                                    <div class="regletter">Р</div>
                                    <a href="/dealers?ids=38" aria-controls="ROS2">
                                        <div class="region">Ростовская область</div>
                                    </a>
                                    <a href="/dealers?ids=39" aria-controls="RYA2">
                                        <div class="region">Рязанская область</div>
                                    </a>
                                </div>
                                <div class="reglettergroup">
                                    <div class="regletter">С</div>
                                    <a href="/dealers?ids=40" aria-controls="SAM2">
                                        <div class="region">Самарская область</div>
                                    </a>
                                    <a href="/dealers?ids=41" aria-controls="LEN2">
                                        <div class="region">г. Санкт-Петербург</div>
                                    </a>
                                    <a href="/dealers?ids=42" aria-controls="SVE2">
                                        <div class="region">Саратовская область</div>
                                    </a>
                                    <a href="/dealers?ids=43" aria-controls="SVE2">
                                        <div class="region">Республика Саха(Якутия)</div>
                                    </a>
                                    <a href="/dealers?ids=44" aria-controls="SVE2">
                                        <div class="region">Сахалинская область</div>
                                    </a>
                                    <a href="/dealers?ids=45" aria-controls="SVE2">
                                        <div class="region">Свердловская область</div>
                                    </a>
                                    <a href="/dealers?ids=81" aria-controls="SVE2">
                                        <div class="region">Смоленская область</div>
                                    </a>
                                    <a href="/dealers?ids=46" aria-controls="SVE2">
                                        <div class="region">Ставропольский край</div>
                                    </a>
                                </div>
                                <div class="reglettergroup">
                                    <div class="regletter">Т</div>
                                    <a href="/dealers?ids=47" aria-controls="TAM2">
                                        <div class="region">Тамбовская область</div>
                                    </a>
                                    <a href="/dealers?ids=48" aria-controls="TAM2">
                                        <div class="region">Республика Татарстан</div>
                                    </a>
                                    <a href="/dealers?ids=49" aria-controls="TVE2">
                                        <div class="region">Тверская область</div>
                                    </a>
                                    <a href="/dealers?ids=50" aria-controls="TVE2">
                                        <div class="region">Томская область</div>
                                    </a>
                                    <a href="/dealers?ids=51" aria-controls="TVE2">
                                        <div class="region">Тульская область</div>
                                    </a>
                                    <a href="/dealers?ids=52" aria-controls="TUL2">
                                        <div class="region">Тюменская область</div>
                                    </a>
                                    <a href="/dealers?ids=75" aria-controls="TUL2">
                                        <div class="region">Республика Тыва</div>
                                    </a>
                                </div>
                                <div class="reglettergroup">
                                    <div class="regletter">У</div>
                                    <a href="/dealers?ids=53" aria-controls="UD2">
                                        <div class="region">Республика Удмуртия</div>
                                    </a>
                                    <a href="/dealers?ids=54" aria-controls="ULY2">
                                        <div class="region">Ульяновская область</div>
                                    </a>
                                </div>
                                <div class="reglettergroup">
                                    <div class="regletter">Х</div>
                                    <a href="/dealers?ids=62" aria-controls="H2">
                                        <div class="region">Хабаровский край</div>
                                    </a>
                                    <a href="/dealers?ids=55" aria-controls="HMAO2">
                                        <div class="region">ХМАО, Югра</div>
                                    </a>
                                    <a href="/dealers?ids=73" aria-controls="HMAO2">
                                        <div class="region">Республика Хакасия</div>
                                    </a>
                                </div>
                                <div class="reglettergroup">
                                    <div class="regletter">Ч</div>
                                    <a href="/dealers?ids=56" aria-controls="CHE2">
                                        <div class="region">Челябинская область</div>
                                    </a>
                                    <a href="/dealers?ids=57" aria-controls="CUV2">
                                        <div class="region">Республика Чувашия</div>
                                    </a>
                                    <a href="/dealers?ids=68" aria-controls="CUV2">
                                        <div class="region">Чукотский автономный округ</div>
                                    </a>
                                </div>
                                <div class="reglettergroup">
                                    <div class="regletter">Я</div>
                                    <a href="/dealers?ids=58" aria-controls="CHE2">
                                        <div class="region">Ямало-Ненецкий автономный округ</div>
                                    </a>
                                    <a href="/dealers?ids=59" aria-controls="CHE2">
                                        <div class="region">Ярославская область</div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

            <section id="contact" class="contact">
                <div class="container" data-aos="fade-up">
                    <div class="section-title">
                        <h2>Контакты</h2>
                    </div>
                    <div class="row" data-aos="fade-up" data-aos-delay="100">
                        <div class="col-lg-6">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="info-box"><i class="bx bx-map"></i>
                                        <h3>Наш адрес</h3>
                                        <p>142603, Московская обл, Орехово-Зуево г, Тургенева ул, дом 1, литера А, помещение 121</p>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="info-box mt-4"><i class="bx bx-envelope"></i>
                                        <h3>Email</h3>
                                        <p>info@irbismotors.ru</p>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="info-box mt-4"><i class="bx bx-phone-call"></i>
                                        <h3>Телефон</h3>
                                        <p>+7 (498) 712-00-00</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <form action="/send.php" method="post" class="php-form">
                                <div class="row">
                                    <div class="col form-group"><input type="text" name="name" class="form-control" placeholder="Ваше Имя" required=""></div>
                                    <div class="col form-group"><input type="email" class="form-control" name="email" placeholder="Ваш Email" required=""></div>
                                </div>
                                <div class="form-group"><input type="text" class="form-control" name="phone" placeholder="Телефон"></div>
                                <input type="hidden" class="form-control" name="phone1" placeholder="Телефон">
                                <input type="text" class="form-control" name="phone2" placeholder="Телефон" style="display:none;">
                                <div class="form-group"><input type="text" class="form-control" name="subject" placeholder="Тема" required=""></div>
                                <div class="form-group"><textarea class="form-control" name="message" rows="5" placeholder="Сообщение" required=""></textarea></div>
                                <p><input type="checkbox" name="a" value="1"> Отправляя форму, Вы даёте согласие на обработку персональных данных в соответствии <a href="../docs/konf.pdf">с политикой конфиденциальности сайта </a></p>
                                <div class="text-center">
                                    <button type="submit">Написать нам</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>

        </main>


        <footer id="footer">
            <div class="footer-top">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 footer-contact">
                            <h3>Ирбис Моторз<span>.</span></h3>
                            <p>142603, Московская обл, <br> Орехово-Зуево г, Тургенева ул,<br> дом 1, литера А, помещение 121 <br><br> <strong>Телефон:</strong> +7 (498) 712-00-00<br> <strong>Email:</strong> info@irbismotors.ru</p>
                        </div>
                        <div class="col-lg-2 col-md-6 footer-links">
                            <h4>Информация</h4>
                            <ul>
                                <li><i class="bx bx-chevron-right"></i> <a href="/">Главная</a></li>
                                <li><i class="bx bx-chevron-right"></i> <a href="/about">О нас</a></li>
                                <li><i class="bx bx-chevron-right"></i> <a href="/novosti">Новости</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-3 col-md-6 footer-links">
                            <h4>Полезные ссылки</h4>
                            <ul>
                                <li><i class="bx bx-chevron-right"></i> <a href="/dilery">Где купить</a></li>
                                <li><i class="bx bx-chevron-right"></i> <a href="/catalog-archive">Архив моделей</a></li>
                                <li><i class="bx bx-chevron-right"></i> <a href="#">Контакты</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container d-md-flex py-4">
                <div class="me-md-auto text-center text-md-start">
                    <div class="copyright">© сайт <strong><span>Ирбис Моторз</span></strong>. Все права защищены</div>
                    <div class="credits">&nbsp;</div>
                </div>
                <div class="social-links text-center text-md-end pt-3 pt-md-0">
                    <a href="https://vk.com/irbismotors" target="_blank" class="vk">
                        <i class="bx bxl-vk"></i>
                    </a>
                    <a href="https://www.youtube.com/channel/UCfcjxtelFZKUWUKB8dBOQNA" class="tube" target="_blank">
                        <i class="bx bxl-youtube"></i>
                    </a>
                    <a href="https://ok.ru/group/70000003488804" class="instagram" target="_blank">
                        <i class="bx bxl-ok-ru"></i>
                    </a>
                    <a href="https://t.me/IRBIS_motors_pablik" class="google-plus" target="_blank">
                        <i class="bx bxl-telegram"></i>
                    </a>
                </div>
            </div>
        </footer>

        <a href="#" class="back-to-top d-flex align-items-center justify-content-center">
            <i class="bi bi-arrow-up-short"></i>
        </a>


        <!-- Vendor JS Files -->
        <script src="../vendors/purecounter/purecounter_vanilla.js"></script>
        <script src="../vendors/bootstrap/bootstrap.bundle.min.js"></script>
        <script src="../vendors/swiper/swiper-bundle.min.js"></script>
        <script src="../vendors/glightbox/glightbox.min.js"></script>
        <script src="../vendors/isotope/isotope.pkgd.min.js"></script>
        <script src="../vendors/php-email-form-validation/validate.js"></script>
        <script src="../vendors/aos/aos.js"></script>

        <!-- Project scripts -->
        <script src="../scripts/main.js"></script>


    </body>
</html>
