<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#" lang="ru">
    <head>
        <meta charset="utf-8">

        <title>Компания Ирбис Моторз - производство и продажа мототехники</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Favicons -->
        <link href="../favicon/favicon.png" rel="icon">
        <link href="../favicon/apple-touch-icon.png" rel="apple-touch-icon">

        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

        <!-- Vendors -->
        <link href="../vendors/bootstrap/bootstrap.min.css" rel="stylesheet">
        <link href="../vendors/swiper/swiper-bundle.min.css" rel="stylesheet">
        <link href="../vendors/glightbox/glightbox.min.css" rel="stylesheet">
        <link href="../vendors/aos/aos.css" rel="stylesheet">

        <!-- Icons -->
        <link href="../vendors/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
        <link href="../vendors/boxicons/boxicons.min.css" rel="stylesheet">
        <link href="../vendors/remixicon/remixicon.css" rel="stylesheet">

        <!-- Styles -->
        <link href="../styles/style.css" rel="stylesheet">
        <link href="../styles/antons-update.css" rel="stylesheet">

    </head>
    <body data-aos-easing="ease-in-out" data-aos-duration="1000" data-aos-delay="0">

        <header id="header" class="fixed-top d-flex align-items-center">
            <div class="container d-flex align-items-center miniheader">
                <h1 class="logo me-auto">
                    <a href="/">
                        <img src="../content/logo.svg" alt="">
                    </a>
                    <br>
                    <span class="logoh1">
                        Покупай Российское!
                    </span>
                </h1>
                <div class="mininav">
                    <div class="mb-2 cont">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: #e03a3c;">
                            <path d="M16.57 22a2 2 0 0 0 1.43-.59l2.71-2.71a1 1 0 0 0 0-1.41l-4-4a1 1 0 0 0-1.41 0l-1.6 1.59a7.55 7.55 0 0 1-3-1.59 7.62 7.62 0 0 1-1.59-3l1.59-1.6a1 1 0 0 0 0-1.41l-4-4a1 1 0 0 0-1.41 0L2.59 6A2 2 0 0 0 2 7.43 15.28 15.28 0 0 0 6.3 17.7 15.28 15.28 0 0 0 16.57 22zM6 5.41 8.59 8 7.3 9.29a1 1 0 0 0-.3.91 10.12 10.12 0 0 0 2.3 4.5 10.08 10.08 0 0 0 4.5 2.3 1 1 0 0 0 .91-.27L16 15.41 18.59 18l-2 2a13.28 13.28 0 0 1-8.87-3.71A13.28 13.28 0 0 1 4 7.41zM20 11h2a8.81 8.81 0 0 0-9-9v2a6.77 6.77 0 0 1 7 7z"></path>
                            <path d="M13 8c2.1 0 3 .9 3 3h2c0-3.22-1.78-5-5-5z"></path>
                        </svg>
                        +7 (498) 712-00-00;
                        <span class="headmail">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: #e03a3c;">
                                <path d="M20 4H6c-1.103 0-2 .897-2 2v5h2V8l6.4 4.8a1.001 1.001 0 0 0 1.2 0L20 8v9h-8v2h8c1.103 0 2-.897 2-2V6c0-1.103-.897-2-2-2zm-7 6.75L6.666 6h12.668L13 10.75z"></path>
                                <path d="M2 12h7v2H2zm2 3h6v2H4zm3 3h4v2H7z"></path>
                            </svg>
                            info@irbismotors.ru
                        </span>
                        <a href="https://vk.com/irbismotors" target="_blank" class="vk">
                            <i class="bx bxl-vk"></i>
                        </a>
                        <a href="https://www.youtube.com/channel/UCfcjxtelFZKUWUKB8dBOQNA" class="tube" target="_blank">
                            <i class="bx bxl-youtube"></i>
                        </a>
                        <a href="https://ok.ru/group/70000003488804" class="instagram" target="_blank">
                            <i class="bx bxl-ok-ru"></i>
                        </a>
                        <a href="https://t.me/IRBIS_motors_pablik" class="google-plus" target="_blank">
                            <i class="bx bxl-telegram"></i>
                        </a>
                        <a href="https://www.wildberries.ru/seller/4256227" class="google-plus" target="_blank">
                            <img src="../content/markets/wildberries.png" style="width: 18px; margin-left: 3px; margin-top: -2px;" alt="">
                        </a>
                        <a href="https://www.ozon.ru/seller/irbis-motors-2195395/products/?miniapp=seller_2195395" class="google-plus" target="_blank">
                            <img src="../content/markets/ozon.png" style="width: 18px; margin-left: 7px; margin-top: -2px;" alt="">
                        </a>
                    </div>
                    <nav id="navbar" class="navbar order-last order-lg-0">
                        <ul>
                            <li class="active"><a class="scrollto nav-link" data-value="" href="#">Главная </a></li>
                            <li><a class="scrollto nav-link" data-value="portfolio" href="#">Каталог </a></li>
                            <li><a class="scrollto nav-link" data-value="pricing" href="#">Новости </a></li>
                            <li><a class="scrollto nav-link" data-value="pricing" href="#">О нас</a></li>
                            <li><a class="scrollto nav-link" data-value="contact" href="#">Контакты </a></li>
                            <li><a class="scrollto nav-link" data-value="catalog-archive" href="#">Архив моделей </a></li>
                            <li><a class="scrollto nav-link" data-value="dilery" href="#">Где купить? </a></li>
                        </ul>
                        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
                    </nav>
                </div>
            </div>
        </header>

        <main id="main">
            <section class="breadcrumbs">
                <div class="container">
                    <ol>
                        <li>
                            <a href="#">Главная</a>
                        </li>
                        <li>
                            <a href="#">Новости</a>
                        </li>
                        <li class="active">
                            Зимние каникулы на снегоходах «Ирбис»: охота за приключениями
                        </li>
                    </ol>
                    <h2>
                        Зимние каникулы на снегоходах «Ирбис»: охота за приключениями
                    </h2>
                </div>
            </section>

            <div id="system-message-container">

            </div>


            <section id="blog" class="blog">
                <div class="container" data-aos="fade-up">
                    <div class="row">
                        <div class="col-lg-8 entries">
                            <article class="entry entry-single">
                                <div class="entry-img">
                                    <img src="../temp/news/2cebfdae7a8ea5d691033c085990a9d4_L.jpg" alt="Зимние каникулы на снегоходах  «Ирбис»:  охота за приключениями" class="img-fluid"/>
                                </div>
                                <h2 class="entry-title">
                                    Зимние каникулы на снегоходах «Ирбис»: охота за приключениями
                                </h2>
                                <div class="entry-meta">
                                    <ul>
                                        <li class="d-flex align-items-center"><i class="bi bi-person"></i> Шакирова Юлия</li>
                                        <li class="d-flex align-items-center"><i class="bi bi-clock"></i> 09 января 2025</li>
                                    </ul>
                                </div>
                                <div class="entry-content">
                                    <p>В этом сезоне зима подарила нам не только белоснежные пейзажи, но и незабываемые моменты, полные приключений и радости. Пользователи снегоходов «Ирбис» сделали свои зимние каникулы активными и незабываемыми, и они готовы поделиться впечатлениями!</p>
                                    <p>Представьте себе: свежий морозный воздух, сверкающий лед и белоснежные просторы, где только вы, ваши друзья, и ваш снегоход. Вместе с друзьями или семьёй вы отправляетесь в захватывающее путешествие по живописным маршрутам, открывая для себя новые уголки зимней природы. Каждый поворот и каждая горка — это радость и азарт!</p>
                                    <p>Пользователи снегоходов IRBIS не просто катаются — они создают потрясающие моменты. На склонах гор -&nbsp; испытывают чувство свободы и радости, преодолевая крутые спуски и крутые подъемы. Снег летит за спиной, а улыбка не сходит с лиц — именно так проходили праздничные, новогодние дни, наполненные смехом и новыми открытиями.</p>
                                    <p>Людмила Клочнева</p>
                                    <p><a href="#" target="_blank" rel="nofollow  noopener">https://vk.com/irbismotors</a></p>
                                    <p>Михаил Измайлов&nbsp;</p>
                                    <p><a href="#" target="_blank" rel="nofollow  noopener">https://vk.com/irbismotors</a></p>
                                    <p>Рустам Зиганшин&nbsp;</p>
                                    <p><a href="#" target="_blank" rel="nofollow  noopener">https://vk.com/irbismotors</a></p>
                                    <p>Рустам Зиганшин-2</p>
                                    <p><a href="#" target="_blank" rel="nofollow  noopener">https://vk.com/irbismotors</a></p>
                                    <p>Михаил Курочкин</p>
                                    <p><a href="#" target="_blank" rel="nofollow  noopener">https://vk.com/irbismotors</a></p>
                                    <p>Михаил Курочкин-2</p>
                                    <p><a href="#" target="_blank" rel="nofollow noopener">https://vk.com/irbismotors640</a></p>
                                    <p>Многие из них организовали мини-соревнования или вечерние посиделки у костра, делясь историями о своих приключениях.&nbsp;</p>
                                    <p>Снегоход «Ирбис» стал не просто средством передвижения, а символом незабываемых мгновений и новых свершений.</p>
                                    <p>&nbsp;Каково это — разгоняться по снегу, ощущая возможности снегохода? Вы тоже можете это прочувствовать!</p>
                                    <p>Не упустите шанс стать частью этой зимней сказки. Присоединяйтесь к сообществу пользователей «Ирбис» в наших соцсетях&nbsp; и создайте свои собственные истории о зимних каникулах.</p>
                                    <p>Купить снегоход IRBIS можно у одного из наших дилеров (https://irbismotors.ru/dilery)&nbsp; — откройте для себя новые горизонты зимнего отдыха!</p>
                                    <p>PS. Присылай свои&nbsp; фотографии и видео, демонстрирующие активный зимний отдых на снегоходах и квадроциклах марки&nbsp; IRBIS!</p>
                                    <p>Лучших авторов - наградим подарками.</p>
                                    <p>Подробнее тут: <a href="#">https://irbismotors.ru/novosti/item/67-vnimanie-novogodnij-konkurs-ot-irbis</a></p>
                                    <div class="container aos-init aos-animate" data-aos="fade-up">
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 portfolio2"><a href="../temp/gallery/1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox"> <img src="../temp/gallery/1.jpg" class="img-fluid" alt=""/></a></div>
                                            <div class="col-lg-6 col-md-6 portfolio2"><a href="../temp/gallery/2.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox"> <img src="../temp/gallery/2.jpg" class="img-fluid" alt=""/></a></div>
                                            <div class="col-lg-6 col-md-6 portfolio2"><a href="../temp/gallery/4.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox"> <img src="../temp/gallery/4.jpg" class="img-fluid" alt=""/></a></div>
                                            <div class="col-lg-6 col-md-6 portfolio2"><a href="../temp/gallery/5.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox"> <img src="../temp/gallery/5.jpg" class="img-fluid" alt=""/></a></div>
                                            <div class="col-lg-6 col-md-6 portfolio2"><a href="../temp/gallery/6.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox"> <img src="../temp/gallery/6.jpg" class="img-fluid" alt=""/></a></div>
                                            <div class="col-lg-6 col-md-6 portfolio2"><a href="../temp/gallery/7.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox"> <img src="../temp/gallery/7.jpg" class="img-fluid" alt=""/></a></div>
                                            <div class="col-lg-6 col-md-6 portfolio2"><a href="../temp/gallery/8.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox"> <img src="../temp/gallery/8.jpg" class="img-fluid" alt=""/></a></div>
                                            <div class="col-lg-6 col-md-6 portfolio2"><a href="../temp/gallery/9.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox"> <img src="../temp/gallery/9.jpg" class="img-fluid" alt=""/></a></div>
                                            <div class="col-lg-6 col-md-6 portfolio2"><a href="../temp/gallery/10.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox"> <img src="../temp/gallery/10.jpg" class="img-fluid" alt=""/></a></div>
                                            <div class="col-lg-6 col-md-6 portfolio2"><a href="../temp/gallery/11.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox"> <img src="../temp/gallery/11.jpg" class="img-fluid" alt=""/></a></div>
                                            <div class="col-lg-6 col-md-6 portfolio2"><a href="../temp/gallery/12.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox"> <img src="../temp/gallery/12.jpg" class="img-fluid" alt=""/></a></div>
                                            <div class="col-lg-6 col-md-6 portfolio2"><a href="../temp/gallery/13.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox"> <img src="../temp/gallery/13.jpg" class="img-fluid" alt=""/></a></div>
                                            <div class="col-lg-6 col-md-6 portfolio2"><a href="../temp/gallery/14.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox"> <img src="../temp/gallery/14.jpg" class="img-fluid" alt=""/></a></div>
                                            <div class="col-lg-6 col-md-6 portfolio2"><a href="../temp/gallery/15.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox"> <img src="../temp/gallery/15.jpg" class="img-fluid" alt=""/></a></div>
                                            <div class="col-lg-6 col-md-6 portfolio2"><a href="../temp/gallery/16.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox"> <img src="../temp/gallery/16.jpg" class="img-fluid" alt=""/></a></div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>
                        <div class="col-lg-4">
                            <div class="sidebar">
                                <h3 class="sidebar-title">Важно</h3>
                                <div class="sidebar-item recent-posts">
                                    <div class="post-item clearfix">
                                        <img src="../temp/important/339a0e1449b6b4062056bc300d87e893.jpg" alt="">
                                        <h4><a href="#">IRBIS на WB и Ozone </a></h4>
                                        <time>01 ноября 2024</time>
                                    </div>
                                    <div class="post-item clearfix">
                                        <img src="../temp/important/8b6e33345ac8d5ffd9cf0d107a7d9e9d.jpg" alt="">
                                        <h4><a href="#">Обзор и тест-драйв квадроциклов Irbis от команды Review Machines: </a></h4>
                                        <time>08 июля 2024</time>
                                    </div>
                                    <div class="post-item clearfix">
                                        <img src="../temp/important/19f9cefdfb07230a68581d617885a3af.jpg" alt="">
                                        <h4><a href="#">Квадроцикл с ПСМ от 160 000 руб! </a></h4>
                                        <time>01 июля 2024</time>
                                    </div>
                                    <div class="post-item clearfix">
                                        <img src="../temp/important/39eee751af30032eeece2f48de2de4ba.jpg" alt="">
                                        <h4><a href="#">Чем техника IRBIS отличается от китайской? </a></h4>
                                        <time>10 июня 2024</time>
                                    </div>
                                    <div class="post-item clearfix">
                                        <img src="../temp/important/f710044bf79a4b1f5d8b085e5e5d9711.jpg" alt="">
                                        <h4><a href="#">ВЕЗДЕХОД - 2024 </a></h4>
                                        <time>15 мая 2024</time>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section id="contact" class="contact">
                <div class="container" data-aos="fade-up">
                    <div class="section-title">
                        <h2>Контакты</h2>
                    </div>
                    <div class="row" data-aos="fade-up" data-aos-delay="100">
                        <div class="col-lg-6">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="info-box"><i class="bx bx-map"></i>
                                        <h3>Наш адрес</h3>
                                        <p>142603, Московская обл, Орехово-Зуево г, Тургенева ул, дом 1, литера А, помещение 121</p>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="info-box mt-4"><i class="bx bx-envelope"></i>
                                        <h3>Email</h3>
                                        <p>info@irbismotors.ru</p>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="info-box mt-4"><i class="bx bx-phone-call"></i>
                                        <h3>Телефон</h3>
                                        <p>+7 (498) 712-00-00</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <form action="/send.php" method="post" class="php-form">
                                <div class="row">
                                    <div class="col form-group"><input type="text" name="name" class="form-control" placeholder="Ваше Имя" required=""></div>
                                    <div class="col form-group"><input type="email" class="form-control" name="email" placeholder="Ваш Email" required=""></div>
                                </div>
                                <div class="form-group"><input type="text" class="form-control" name="phone" placeholder="Телефон"></div>
                                <input type="hidden" class="form-control" name="phone1" placeholder="Телефон">
                                <input type="text" class="form-control" name="phone2" placeholder="Телефон" style="display:none;">
                                <div class="form-group"><input type="text" class="form-control" name="subject" placeholder="Тема" required=""></div>
                                <div class="form-group"><textarea class="form-control" name="message" rows="5" placeholder="Сообщение" required=""></textarea></div>
                                <p><input type="checkbox" name="a" value="1"> Отправляя форму, Вы даёте согласие на обработку персональных данных в соответствии <a href="../docs/konf.pdf">с политикой конфиденциальности сайта </a></p>
                                <div class="text-center">
                                    <button type="submit">Написать нам</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>

        </main>


        <footer id="footer">
            <div class="footer-top">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 footer-contact">
                            <h3>Ирбис Моторз<span>.</span></h3>
                            <p>142603, Московская обл, <br> Орехово-Зуево г, Тургенева ул,<br> дом 1, литера А, помещение 121 <br><br> <strong>Телефон:</strong> +7 (498) 712-00-00<br> <strong>Email:</strong> info@irbismotors.ru</p>
                        </div>
                        <div class="col-lg-2 col-md-6 footer-links">
                            <h4>Информация</h4>
                            <ul>
                                <li><i class="bx bx-chevron-right"></i> <a href="/">Главная</a></li>
                                <li><i class="bx bx-chevron-right"></i> <a href="/about">О нас</a></li>
                                <li><i class="bx bx-chevron-right"></i> <a href="/novosti">Новости</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-3 col-md-6 footer-links">
                            <h4>Полезные ссылки</h4>
                            <ul>
                                <li><i class="bx bx-chevron-right"></i> <a href="/dilery">Где купить</a></li>
                                <li><i class="bx bx-chevron-right"></i> <a href="/catalog-archive">Архив моделей</a></li>
                                <li><i class="bx bx-chevron-right"></i> <a href="#">Контакты</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container d-md-flex py-4">
                <div class="me-md-auto text-center text-md-start">
                    <div class="copyright">© сайт <strong><span>Ирбис Моторз</span></strong>. Все права защищены</div>
                    <div class="credits">&nbsp;</div>
                </div>
                <div class="social-links text-center text-md-end pt-3 pt-md-0">
                    <a href="https://vk.com/irbismotors" target="_blank" class="vk">
                        <i class="bx bxl-vk"></i>
                    </a>
                    <a href="https://www.youtube.com/channel/UCfcjxtelFZKUWUKB8dBOQNA" class="tube" target="_blank">
                        <i class="bx bxl-youtube"></i>
                    </a>
                    <a href="https://ok.ru/group/70000003488804" class="instagram" target="_blank">
                        <i class="bx bxl-ok-ru"></i>
                    </a>
                    <a href="https://t.me/IRBIS_motors_pablik" class="google-plus" target="_blank">
                        <i class="bx bxl-telegram"></i>
                    </a>
                </div>
            </div>
        </footer>

        <a href="#" class="back-to-top d-flex align-items-center justify-content-center">
            <i class="bi bi-arrow-up-short"></i>
        </a>


        <!-- Vendor JS Files -->
        <script src="../vendors/purecounter/purecounter_vanilla.js"></script>
        <script src="../vendors/bootstrap/bootstrap.bundle.min.js"></script>
        <script src="../vendors/swiper/swiper-bundle.min.js"></script>
        <script src="../vendors/glightbox/glightbox.min.js"></script>
        <script src="../vendors/isotope/isotope.pkgd.min.js"></script>
        <script src="../vendors/php-email-form-validation/validate.js"></script>
        <script src="../vendors/aos/aos.js"></script>

        <!-- Project scripts -->
        <script src="../scripts/main.js"></script>


    </body>
</html>
