<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#" lang="ru">
    <head>
        <meta charset="utf-8">

        <title>Компания Ирбис Моторз - производство и продажа мототехники</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Favicons -->
        <link href="../favicon/favicon.png" rel="icon">
        <link href="../favicon/apple-touch-icon.png" rel="apple-touch-icon">

        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

        <!-- Vendors -->
        <link href="../vendors/bootstrap/bootstrap.min.css" rel="stylesheet">
        <link href="../vendors/swiper/swiper-bundle.min.css" rel="stylesheet">
        <link href="../vendors/glightbox/glightbox.min.css" rel="stylesheet">
        <link href="../vendors/aos/aos.css" rel="stylesheet">

        <!-- Icons -->
        <link href="../vendors/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
        <link href="../vendors/boxicons/boxicons.min.css" rel="stylesheet">
        <link href="../vendors/remixicon/remixicon.css" rel="stylesheet">

        <!-- Styles -->
        <link href="../styles/style.css" rel="stylesheet">
        <link href="../styles/antons-update.css" rel="stylesheet">

    </head>
    <body data-aos-easing="ease-in-out" data-aos-duration="1000" data-aos-delay="0">

        <header id="header" class="fixed-top d-flex align-items-center">
            <div class="container d-flex align-items-center miniheader">
                <h1 class="logo me-auto">
                    <a href="/">
                        <img src="../images/logo.svg" alt="">
                    </a>
                    <br>
                    <span class="logoh1">
                        Покупай Российское!
                    </span>
                </h1>
                <div class="mininav">
                    <div class="mb-2 cont">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: #e03a3c;">
                            <path d="M16.57 22a2 2 0 0 0 1.43-.59l2.71-2.71a1 1 0 0 0 0-1.41l-4-4a1 1 0 0 0-1.41 0l-1.6 1.59a7.55 7.55 0 0 1-3-1.59 7.62 7.62 0 0 1-1.59-3l1.59-1.6a1 1 0 0 0 0-1.41l-4-4a1 1 0 0 0-1.41 0L2.59 6A2 2 0 0 0 2 7.43 15.28 15.28 0 0 0 6.3 17.7 15.28 15.28 0 0 0 16.57 22zM6 5.41 8.59 8 7.3 9.29a1 1 0 0 0-.3.91 10.12 10.12 0 0 0 2.3 4.5 10.08 10.08 0 0 0 4.5 2.3 1 1 0 0 0 .91-.27L16 15.41 18.59 18l-2 2a13.28 13.28 0 0 1-8.87-3.71A13.28 13.28 0 0 1 4 7.41zM20 11h2a8.81 8.81 0 0 0-9-9v2a6.77 6.77 0 0 1 7 7z"></path>
                            <path d="M13 8c2.1 0 3 .9 3 3h2c0-3.22-1.78-5-5-5z"></path>
                        </svg>
                        +7 (498) 712-00-00;
                        <span class="headmail">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: #e03a3c;">
                                <path d="M20 4H6c-1.103 0-2 .897-2 2v5h2V8l6.4 4.8a1.001 1.001 0 0 0 1.2 0L20 8v9h-8v2h8c1.103 0 2-.897 2-2V6c0-1.103-.897-2-2-2zm-7 6.75L6.666 6h12.668L13 10.75z"></path>
                                <path d="M2 12h7v2H2zm2 3h6v2H4zm3 3h4v2H7z"></path>
                            </svg>
                            info@irbismotors.ru
                        </span>
                        <a href="https://vk.com/irbismotors" target="_blank" class="vk">
                            <i class="bx bxl-vk"></i>
                        </a>
                        <a href="https://www.youtube.com/channel/UCfcjxtelFZKUWUKB8dBOQNA" class="tube" target="_blank">
                            <i class="bx bxl-youtube"></i>
                        </a>
                        <a href="https://ok.ru/group/70000003488804" class="instagram" target="_blank">
                            <i class="bx bxl-ok-ru"></i>
                        </a>
                        <a href="https://t.me/IRBIS_motors_pablik" class="google-plus" target="_blank">
                            <i class="bx bxl-telegram"></i>
                        </a>
                        <a href="https://www.wildberries.ru/seller/4256227" class="google-plus" target="_blank">
                            <img src="../content/markets/wildberries.png" style="width: 18px; margin-left: 3px; margin-top: -2px;" alt="">
                        </a>
                        <a href="https://www.ozon.ru/seller/irbis-motors-2195395/products/?miniapp=seller_2195395" class="google-plus" target="_blank">
                            <img src="../content/markets/ozon.png" style="width: 18px; margin-left: 7px; margin-top: -2px;" alt="">
                        </a>
                    </div>
                    <nav id="navbar" class="navbar order-last order-lg-0">
                        <ul>
                            <li class="active"><a class="scrollto nav-link" data-value="" href="#">Главная </a></li>
                            <li><a class="scrollto nav-link" data-value="portfolio" href="#">Каталог </a></li>
                            <li><a class="scrollto nav-link" data-value="pricing" href="#">Новости </a></li>
                            <li><a class="scrollto nav-link" data-value="pricing" href="#">О нас</a></li>
                            <li><a class="scrollto nav-link" data-value="contact" href="#">Контакты </a></li>
                            <li><a class="scrollto nav-link" data-value="catalog-archive" href="#">Архив моделей </a></li>
                            <li><a class="scrollto nav-link" data-value="dilery" href="#">Где купить? </a></li>
                        </ul>
                        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
                    </nav>
                </div>
            </div>
        </header>

        <main id="main">

            <section class="breadcrumbs">
                <div class="container">
                    <ol>
                        <li>
                            <a href="#">Главная</a>
                        </li>
                        <li class="active">
                            Новости
                        </li>
                    </ol>
                    <h2>
                        Новости
                    </h2>
                </div>
            </section>

            <div id="system-message-container">

            </div>

            <section id="blog" class="blog">
                <div class="container" data-aos="fade-up">
                    <div class="row">
                        <div class="col-lg-8 entries">


                            <!-- Blocks for current category and subcategories -->
                            <div class="itemListCategoriesBlock">

                            </div>


                            <div class="itemList">
                                <div id="itemListLeading">
                                    <div class="itemContainer itemContainerLast" style="width: 100%;">
                                        <article class="entry">
                                            <div class="entry-img">
                                                <img src="../temp/news/d6086de322f98f66cc694f32ea284557_L.jpg" alt="Снегоходы и квадроциклы «Ирбис»: покупай российское!" class="img-fluid">
                                            </div>
                                            <h2 class="entry-title">
                                                <a href="#">
                                                    Снегоходы и квадроциклы «Ирбис»: покупай российское!
                                                </a>
                                            </h2>
                                            <div class="entry-meta">
                                                <ul>
                                                    <li class="d-flex align-items-center">
                                                        <i class="bi bi-person"></i>
                                                        Шакирова Юлия
                                                    </li>
                                                    <li class="d-flex align-items-center">
                                                        <i class="bi bi-clock"></i>
                                                        Понедельник, 03 февраля 2025 10:11
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="entry-content">
                                                <p>Общество с ограниченной ответственностью «Ирбис Моторз» (г. Орехово-Зуево) – российская компания, которая проектирует, производит, продает и осуществляет сервисное обслуживание снегоходов и квадроциклов.</p>
                                                <p>Мототехника производства «Ирбис Моторз» эксплуатируется на всей территории Российской Федерации, от Калининграда до Владивостока.</p>
                                                <p>За последние 3 года произведено более 10000 снегоходов, доставлено потребителям более 4000 квадроциклов.</p>
                                                <p>На территории РФ, ЕАЭС находится 174 дилерских центров, осуществляющих продажу и сервисное обслуживание мототехники производства «Ирбис Моторз».</p>
                                                <p>Вся мототехника производства «Ирбис Моторз», подлежащая регистрации в ГИБДД, поставляется с ПСМ и ПТС.</p>
                                                <p>«Покупай российское!»</p>
                                                <div class="read-more">
                                                    <a href="#">
                                                        Подробно
                                                    </a>
                                                </div>
                                            </div>
                                        </article>
                                    </div>
                                    <div class="itemContainer itemContainerLast" style="width: 100%;">
                                        <article class="entry">
                                            <div class="entry-img">
                                                <img src="../temp/news/1698b847c2e4fe98c05adcdc9d420590_L.jpg" alt="Что под капотом у снегохода IRBIS SF300?" class="img-fluid">
                                            </div>
                                            <h2 class="entry-title">
                                                <a href="#">
                                                    Что под капотом у снегохода IRBIS SF300?
                                                </a>
                                            </h2>
                                            <div class="entry-meta">
                                                <ul>
                                                    <li class="d-flex align-items-center">
                                                        <i class="bi bi-person"></i> Шакирова Юлия
                                                    </li>
                                                    <li class="d-flex align-items-center">
                                                        <i class="bi bi-clock"></i>
                                                        Пятница, 31 января 2025 16:43
                                                    </li>
                                                </ul>
                                            </div>

                                            <div class="entry-content">
                                                <p>Приступили к финальной проверке инжекторного снегохода IRBIS SF300.</p>
                                                <p>Перед вами - уже серийная машина.</p>
                                                <p>И сегодня&nbsp; мы покажем и расскажем о том, что же там под капотом.</p>
                                                <p>Подробности в нашем видео.</p>
                                                <p>
                                                    <!--
                                                    <iframe width="560" height="315" src="https://rutube.ru/play/embed/12d238ca07eb66b132b82cdd2f2bbc59" frameborder="0" allow="clipboard-write; autoplay" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="allowfullscreen"></iframe>
                                                    -->
                                                </p>
                                                <p>#новости #производство #россия #ирбис #sf300 #irbis #снегоходы</p>
                                                <div class="read-more">
                                                    <a href="#">
                                                        Подробно
                                                    </a>
                                                </div>
                                            </div>
                                        </article>
                                    </div>
                                    <div class="itemContainer itemContainerLast" style="width: 100%;">
                                        <article class="entry">
                                            <div class="entry-img">
                                                <img src="../temp/news/3749aaa8ee129d7e919bddcc7e09cd36_L.jpg?t=20250122_142742" alt="Магазины «Ирбис» на маркетплейсах" class="img-fluid">
                                            </div>
                                            <h2 class="entry-title">
                                                <a href="#">
                                                    Магазины «Ирбис» на маркетплейсах
                                                </a>
                                            </h2>
                                            <div class="entry-meta">
                                                <ul>
                                                    <li class="d-flex align-items-center">
                                                        <i class="bi bi-person"></i>
                                                        Шакирова Юлия
                                                    </li>
                                                    <li class="d-flex align-items-center">
                                                        <i class="bi bi-clock"></i>
                                                        Среда, 22 января 2025 14:23
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="entry-content">
                                                <p>Напоминаем Вам, что «Ирбис Моторз» можно найти не только в соцсетях, но и на маркетплейсах.</p>
                                                <p>Наш магазин на Wildberries - <a href="https://www.wildberries.ru/seller/4256227">https://www.wildberries.ru/seller/4256227</a></p>
                                                <p>Наш магазин на ОЗОН - <a href="https://clck.ru/3Fqyqf">https://clck.ru/3Fqyqf</a></p>
                                                <p>Следите за новостями там, где вам удобно:</p>
                                                <p>Telegram: <a href="https://t.me/IRBIS_motors_pablik">https://t.me/IRBIS_motors_pablik</a></p>
                                                <p>Одноклассники: <a href="https://ok.ru/group/70000003488804">https://ok.ru/group/70000003488804</a></p>
                                                <p>ВКонтакте: <a href="https://vk.com/irbismotors">https://vk.com/irbismotors</a></p>
                                                <p>Ютуб: <a href="https://clck.ru/3A8NrA">https://clck.ru/3A8NrA</a></p>
                                                <p>Рутуб: <a href="https://rutube.ru/channel/35064251/">https://rutube.ru/channel/35064251/</a></p>
                                                <p>ЯндексБизнес: <a href="https://irbis-motorz.clients.site">https://irbis-motorz.clients.site</a></p>
                                                <p>ЯндексДзен: <a href="https://clck.ru/3BhuL7">https://clck.ru/3BhuL7</a></p>
                                                <p>Отмечайте нас у себя в соцсетях, подписывайтесь на наши сообщества, следите за новостями, оставляйте свои отзывы и комментарии, присылайте фото и видео через форму обратной связи на сайте или в сообщения сообщества в ВК - нам важно ваше мнение!</p>
                                                <p>Почта и телефон для связи:</p>
                                                <p><span id="cloaka69282037692d0ab7193f9b25473de46">Этот адрес электронной почты защищён от спам-ботов. У вас должен быть включен JavaScript для просмотра.</span>
                                                    <script type='text/javascript'>
                                                        document.getElementById('cloaka69282037692d0ab7193f9b25473de46').innerHTML = '';
                                                        var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
                                                        var path = 'hr' + 'ef' + '=';
                                                        var addya69282037692d0ab7193f9b25473de46 = '&#105;nf&#111;' + '&#64;';
                                                        addya69282037692d0ab7193f9b25473de46 = addya69282037692d0ab7193f9b25473de46 + '&#105;rb&#105;sm&#111;t&#111;rs' + '&#46;' + 'r&#117;';
                                                        var addy_texta69282037692d0ab7193f9b25473de46 = '&#105;nf&#111;' + '&#64;' + '&#105;rb&#105;sm&#111;t&#111;rs' + '&#46;' + 'r&#117;';
                                                        document.getElementById('cloaka69282037692d0ab7193f9b25473de46').innerHTML += '<a ' + path + '\'' + prefix + ':' + addya69282037692d0ab7193f9b25473de46 + '\'>' + addy_texta69282037692d0ab7193f9b25473de46 + '<\/a>';
                                                    </script>
                                                </p>
                                                <p>+7 (498) 712-00-00</p>
                                                <p>Как добраться? Построй маршрут на карте Яндекса: <a href="https://yandex.ru/profile/27587236072/">https://yandex.ru/profile/27587236072/</a></p>
                                                <div class="read-more">
                                                    <a href="/novosti/item/70-magaziny-irbis-na-marketplejsakh">
                                                        Подробно
                                                    </a>
                                                </div>
                                            </div>
                                        </article>
                                    </div>
                                    <div class="itemContainer itemContainerLast" style="width: 100%;">
                                        <article class="entry">
                                            <div class="entry-img">
                                                <img src="../temp/news/2cebfdae7a8ea5d691033c085990a9d4_L.jpg?t=20250110_080932" alt="Зимние каникулы на снегоходах  «Ирбис»:  охота за приключениями" class="img-fluid">
                                            </div>
                                            <h2 class="entry-title">
                                                <a href="#">
                                                    Зимние каникулы на снегоходах «Ирбис»: охота за приключениями
                                                </a>
                                            </h2>
                                            <div class="entry-meta">
                                                <ul>
                                                    <li class="d-flex align-items-center">
                                                        <i class="bi bi-person"></i>
                                                        Шакирова Юлия
                                                    </li>
                                                    <li class="d-flex align-items-center">
                                                        <i class="bi bi-clock"></i>
                                                        Четверг, 09 января 2025 15:17
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="entry-content">
                                                <p>В этом сезоне зима подарила нам не только белоснежные пейзажи, но и незабываемые моменты, полные приключений и радости. Пользователи снегоходов «Ирбис» сделали свои зимние каникулы активными и незабываемыми, и они готовы поделиться впечатлениями!</p>
                                                <p>Представьте себе: свежий морозный воздух, сверкающий лед и белоснежные просторы, где только вы, ваши друзья, и ваш снегоход. Вместе с друзьями или семьёй вы отправляетесь в захватывающее путешествие по живописным маршрутам, открывая для себя новые уголки зимней природы. Каждый поворот и каждая горка — это радость и азарт!</p>
                                                <p>Пользователи снегоходов IRBIS не просто катаются — они создают потрясающие моменты. На склонах гор -&nbsp; испытывают чувство свободы и радости, преодолевая крутые спуски и крутые подъемы. Снег летит за спиной, а улыбка не сходит с лиц — именно так проходили праздничные, новогодние дни, наполненные смехом и новыми открытиями.</p>
                                                <p>Людмила Клочнева</p>
                                                <p><a href="https://vk.com/irbismotors?w=wall-77654227_5590_r5636&amp;z=video247263920_456239219%2F7d96820d49b0f0ed59%2Fpl_post_-77654227_5680" target="_blank" rel="nofollow  noopener">https://vk.com/irbismotors?w=wall-77654227_5590_r5636&amp;z=video247263920_456239219%2F7d96820d49b0f0ed59%2Fpl_post_-77654227_5680</a></p>
                                                <p>Михаил Измайлов</p>
                                                <p><a href="https://vk.com/irbismotors?w=wall-77654227_5590_r5636&amp;z=video60761301_456239018%2F6378b51d81fa0a1da3%2Fpl_post_-77654227_5675" target="_blank" rel="nofollow  noopener">https://vk.com/irbismotors?w=wall-77654227_5590_r5636&amp;z=video60761301_456239018%2F6378b51d81fa0a1da3%2Fpl_post_-77654227_5675</a></p>
                                                <p>Рустам Зиганшин</p>
                                                <p><a href="https://vk.com/irbismotors?w=wall-77654227_5590_r5636&amp;z=video-77654227_456240441%2F1dd3b351d3a9d7113d%2Fpl_post_-77654227_5670" target="_blank" rel="nofollow  noopener">https://vk.com/irbismotors?w=wall-77654227_5590_r5636&amp;z=video-77654227_456240441%2F1dd3b351d3a9d7113d%2Fpl_post_-77654227_5670</a></p>
                                                <p>Рустам Зиганшин-2</p>
                                                <p><a href="https://vk.com/irbismotors?w=wall-77654227_5590_r5636&amp;z=video-77654227_456240440%2Fc7d16792c2baea9ca7%2Fpl_post_-77654227_5669" target="_blank" rel="nofollow  noopener">https://vk.com/irbismotors?w=wall-77654227_5590_r5636&amp;z=video-77654227_456240440%2Fc7d16792c2baea9ca7%2Fpl_post_-77654227_5669</a></p>
                                                <p>Михаил Курочкин</p>
                                                <p><a href="https://vk.com/irbismotors?w=wall-77654227_5590_r5636&amp;z=video-77654227_456240428%2Ffea4e466df29eb4c2e%2Fpl_post_-77654227_5641" target="_blank" rel="nofollow  noopener">https://vk.com/irbismotors?w=wall-77654227_5590_r5636&amp;z=video-77654227_456240428%2Ffea4e466df29eb4c2e%2Fpl_post_-77654227_5641</a></p>
                                                <p>Михаил Курочкин-2</p>
                                                <p><a href="https://vk.com/irbismotors?w=wall-77654227_5590_r5636&amp;z=video-77654227_456240427%2F423742dc30b620bf3a%2Fpl_post_-77654227_5640" target="_blank" rel="nofollow noopener">https://vk.com/irbismotors?w=wall-77654227_5590_r5636&amp;z=video-77654227_456240427%2F423742dc30b620bf3a%2Fpl_post_-77654227_5640</a></p>
                                                <p>Многие из них организовали мини-соревнования или вечерние посиделки у костра, делясь историями о своих приключениях.</p>
                                                <p>Снегоход «Ирбис» стал не просто средством передвижения, а символом незабываемых мгновений и новых свершений.</p>
                                                <p>&nbsp;Каково это — разгоняться по снегу, ощущая возможности снегохода? Вы тоже можете это прочувствовать!</p>
                                                <p>Не упустите шанс стать частью этой зимней сказки. Присоединяйтесь к сообществу пользователей «Ирбис» в наших соцсетях&nbsp; и создайте свои собственные истории о зимних каникулах.</p>
                                                <p>Купить снегоход IRBIS можно у одного из наших дилеров (https://irbismotors.ru/dilery)&nbsp; — откройте для себя новые горизонты зимнего отдыха!</p>
                                                <p>PS. Присылай свои&nbsp; фотографии и видео, демонстрирующие активный зимний отдых на снегоходах и квадроциклах марки&nbsp; IRBIS!</p>
                                                <p>Лучших авторов - наградим подарками.</p>
                                                <p>Подробнее тут: <a href="/novosti/item/67-vnimanie-novogodnij-konkurs-ot-irbis">https://irbismotors.ru/novosti/item/67-vnimanie-novogodnij-konkurs-ot-irbis</a></p>
                                                <div class="container aos-init aos-animate" data-aos="fade-up">
                                                    <div class="row">
                                                        <div class="col-lg-6 col-md-6 portfolio2"><a href="../temp/gallery/1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox"> <img src="../temp/gallery/1.jpg" class="img-fluid" alt=""></a></div>
                                                        <div class="col-lg-6 col-md-6 portfolio2"><a href="../temp/gallery/2.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox"> <img src="../temp/gallery/2.jpg" class="img-fluid" alt=""></a></div>
                                                        <div class="col-lg-6 col-md-6 portfolio2"><a href="../temp/gallery/4.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox"> <img src="../temp/gallery/4.jpg" class="img-fluid" alt=""></a></div>
                                                        <div class="col-lg-6 col-md-6 portfolio2"><a href="../temp/gallery/5.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox"> <img src="../temp/gallery/5.jpg" class="img-fluid" alt=""></a></div>
                                                        <div class="col-lg-6 col-md-6 portfolio2"><a href="../temp/gallery/6.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox"> <img src="../temp/gallery/6.jpg" class="img-fluid" alt=""></a></div>
                                                        <div class="col-lg-6 col-md-6 portfolio2"><a href="../temp/gallery/7.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox"> <img src="../temp/gallery/7.jpg" class="img-fluid" alt=""></a></div>
                                                        <div class="col-lg-6 col-md-6 portfolio2"><a href="../temp/gallery/8.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox"> <img src="../temp/gallery/8.jpg" class="img-fluid" alt=""></a></div>
                                                        <div class="col-lg-6 col-md-6 portfolio2"><a href="../temp/gallery/9.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox"> <img src="../temp/gallery/9.jpg" class="img-fluid" alt=""></a></div>
                                                        <div class="col-lg-6 col-md-6 portfolio2"><a href="../temp/gallery/10.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox"> <img src="../temp/gallery/10.jpg" class="img-fluid" alt=""></a></div>
                                                        <div class="col-lg-6 col-md-6 portfolio2"><a href="../temp/gallery/11.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox"> <img src="../temp/gallery/11.jpg" class="img-fluid" alt=""></a></div>
                                                        <div class="col-lg-6 col-md-6 portfolio2"><a href="../temp/gallery/12.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox"> <img src="../temp/gallery/12.jpg" class="img-fluid" alt=""></a></div>
                                                        <div class="col-lg-6 col-md-6 portfolio2"><a href="../temp/gallery/13.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox"> <img src="../temp/gallery/13.jpg" class="img-fluid" alt=""></a></div>
                                                        <div class="col-lg-6 col-md-6 portfolio2"><a href="../temp/gallery/14.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox"> <img src="../temp/gallery/14.jpg" class="img-fluid" alt=""></a></div>
                                                        <div class="col-lg-6 col-md-6 portfolio2"><a href="../temp/gallery/15.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox"> <img src="../temp/gallery/15.jpg" class="img-fluid" alt=""></a></div>
                                                        <div class="col-lg-6 col-md-6 portfolio2"><a href="../temp/gallery/16.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox"> <img src="../temp/gallery/16.jpg" class="img-fluid" alt=""></a></div>
                                                    </div>
                                                </div>
                                                <div class="read-more">
                                                    <a href="#">
                                                        Подробно
                                                    </a>
                                                </div>
                                            </div>
                                        </article>
                                    </div>
                                    <div class="itemContainer itemContainerLast" style="width: 100%;">
                                        <article class="entry">
                                            <div class="entry-img">
                                                <img src="../temp/news/deb9f9efc56ef2a940bdf0d58ccaad5c_L.jpg?t=20250128_101710" alt="С наступающим Новым годом!" class="img-fluid">
                                            </div>
                                            <h2 class="entry-title">
                                                <a href="#">
                                                    С наступающим Новым годом!
                                                </a>
                                            </h2>
                                            <div class="entry-meta">
                                                <ul>
                                                    <li class="d-flex align-items-center"><i class="bi bi-person"></i> Шакирова Юлия</li>
                                                    <li class="d-flex align-items-center"><i class="bi bi-clock"></i>
                                                        Суббота, 28 декабря 2024 08:21
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="entry-content">
                                                <p>Вот и подходит к концу 2024 год и его самая тяжёлая, но самая долгожданная и радостная неделя!</p>
                                                <p>Напомним, что праздничные дни в 2025 году продлятся с 1 по 8 января. Дополнительно выходными будут 29, 30 и 31 декабря 2024 года. Первый рабочий день после праздников — четверг, 9 января.</p>
                                                <div class="read-more">
                                                    <a href="#">
                                                        Подробно
                                                    </a>
                                                </div>
                                            </div>
                                        </article>
                                    </div>
                                </div>
                            </div>

                            <!-- Pagination -->
                            <div class="k2Pagination">
                                <div class="k2PaginationLinks">
                                    <div class="col-sm-12">
                                        <nav class="pagination-a">
                                            <ul class="pagination justify-content-end">
                                                <li class="page-item disabled"><a class="page-link" href="#">В начало</a></li>
                                                <li class="page-item disabled"><a class="page-link" href="#">Назад</a></li>
                                                <li class="page-item disabled"><a class="page-link" href="#">1</a></li>
                                                <li class="page-item"><a class="page-link" href="/novosti?start=5" title="2">2</a></li>
                                                <li class="page-item"><a class="page-link" href="/novosti?start=10" title="3">3</a></li>
                                                <li class="page-item"><a class="page-link" href="/novosti?start=15" title="4">4</a></li>
                                                <li class="page-item"><a class="page-link" href="/novosti?start=20" title="5">5</a></li>
                                                <li class="page-item"><a class="page-link" href="/novosti?start=25" title="6">6</a></li>
                                                <li class="page-item"><a class="page-link" href="/novosti?start=30" title="7">7</a></li>
                                                <li class="page-item"><a class="page-link" href="/novosti?start=35" title="8">8</a></li>
                                                <li class="page-item"><a class="page-link" href="/novosti?start=40" title="9">9</a></li>
                                                <li class="page-item"><a class="page-link" href="/novosti?start=45" title="10">10</a></li>
                                                <li class="page-item"><a class="page-link" href="/novosti?start=5" title="Вперёд">Вперёд</a></li>
                                                <li class="page-item"><a class="page-link" href="/novosti?start=65" title="В конец">В конец</a></li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                                <div class="k2PaginationCounter" style="text-align: center;">
                                    Страница 1 из 14
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="sidebar">
                                <h3 class="sidebar-title">Важно</h3>
                                <div class="sidebar-item recent-posts">
                                    <div class="post-item clearfix">
                                        <img src="../temp/important/339a0e1449b6b4062056bc300d87e893.jpg" alt="">
                                        <h4><a href="#">IRBIS на WB и Ozone </a></h4>
                                        <time>01 ноября 2024</time>
                                    </div>
                                    <div class="post-item clearfix">
                                        <img src="../temp/important/8b6e33345ac8d5ffd9cf0d107a7d9e9d.jpg" alt="">
                                        <h4><a href="#">Обзор и тест-драйв квадроциклов Irbis от команды Review Machines: </a></h4>
                                        <time>08 июля 2024</time>
                                    </div>
                                    <div class="post-item clearfix">
                                        <img src="../temp/important/19f9cefdfb07230a68581d617885a3af.jpg" alt="">
                                        <h4><a href="#">Квадроцикл с ПСМ от 160 000 руб! </a></h4>
                                        <time>01 июля 2024</time>
                                    </div>
                                    <div class="post-item clearfix">
                                        <img src="../temp/important/39eee751af30032eeece2f48de2de4ba.jpg" alt="">
                                        <h4><a href="#">Чем техника IRBIS отличается от китайской? </a></h4>
                                        <time>10 июня 2024</time>
                                    </div>
                                    <div class="post-item clearfix">
                                        <img src="../temp/important/f710044bf79a4b1f5d8b085e5e5d9711.jpg" alt="">
                                        <h4><a href="#">ВЕЗДЕХОД - 2024 </a></h4>
                                        <time>15 мая 2024</time>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section id="contact" class="contact">
                <div class="container" data-aos="fade-up">
                    <div class="section-title">
                        <h2>Контакты</h2>
                    </div>
                    <div class="row" data-aos="fade-up" data-aos-delay="100">
                        <div class="col-lg-6">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="info-box"><i class="bx bx-map"></i>
                                        <h3>Наш адрес</h3>
                                        <p>142603, Московская обл, Орехово-Зуево г, Тургенева ул, дом 1, литера А, помещение 121</p>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="info-box mt-4"><i class="bx bx-envelope"></i>
                                        <h3>Email</h3>
                                        <p>info@irbismotors.ru</p>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="info-box mt-4"><i class="bx bx-phone-call"></i>
                                        <h3>Телефон</h3>
                                        <p>+7 (498) 712-00-00</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <form action="/send.php" method="post" class="php-form">
                                <div class="row">
                                    <div class="col form-group"><input type="text" name="name" class="form-control" placeholder="Ваше Имя" required=""></div>
                                    <div class="col form-group"><input type="email" class="form-control" name="email" placeholder="Ваш Email" required=""></div>
                                </div>
                                <div class="form-group"><input type="text" class="form-control" name="phone" placeholder="Телефон"></div>
                                <input type="hidden" class="form-control" name="phone1" placeholder="Телефон">
                                <input type="text" class="form-control" name="phone2" placeholder="Телефон" style="display:none;">
                                <div class="form-group"><input type="text" class="form-control" name="subject" placeholder="Тема" required=""></div>
                                <div class="form-group"><textarea class="form-control" name="message" rows="5" placeholder="Сообщение" required=""></textarea></div>
                                <p><input type="checkbox" name="a" value="1"> Отправляя форму, Вы даёте согласие на обработку персональных данных в соответствии <a href="../docs/konf.pdf">с политикой конфиденциальности сайта </a></p>
                                <div class="text-center">
                                    <button type="submit">Написать нам</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>

        </main>


        <footer id="footer">
            <div class="footer-top">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 footer-contact">
                            <h3>Ирбис Моторз<span>.</span></h3>
                            <p>142603, Московская обл, <br> Орехово-Зуево г, Тургенева ул,<br> дом 1, литера А, помещение 121 <br><br> <strong>Телефон:</strong> +7 (498) 712-00-00<br> <strong>Email:</strong> info@irbismotors.ru</p>
                        </div>
                        <div class="col-lg-2 col-md-6 footer-links">
                            <h4>Информация</h4>
                            <ul>
                                <li><i class="bx bx-chevron-right"></i> <a href="/">Главная</a></li>
                                <li><i class="bx bx-chevron-right"></i> <a href="/about">О нас</a></li>
                                <li><i class="bx bx-chevron-right"></i> <a href="/novosti">Новости</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-3 col-md-6 footer-links">
                            <h4>Полезные ссылки</h4>
                            <ul>
                                <li><i class="bx bx-chevron-right"></i> <a href="/dilery">Где купить</a></li>
                                <li><i class="bx bx-chevron-right"></i> <a href="/catalog-archive">Архив моделей</a></li>
                                <li><i class="bx bx-chevron-right"></i> <a href="#">Контакты</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container d-md-flex py-4">
                <div class="me-md-auto text-center text-md-start">
                    <div class="copyright">© сайт <strong><span>Ирбис Моторз</span></strong>. Все права защищены</div>
                    <div class="credits">&nbsp;</div>
                </div>
                <div class="social-links text-center text-md-end pt-3 pt-md-0">
                    <a href="https://vk.com/irbismotors" target="_blank" class="vk">
                        <i class="bx bxl-vk"></i>
                    </a>
                    <a href="https://www.youtube.com/channel/UCfcjxtelFZKUWUKB8dBOQNA" class="tube" target="_blank">
                        <i class="bx bxl-youtube"></i>
                    </a>
                    <a href="https://ok.ru/group/70000003488804" class="instagram" target="_blank">
                        <i class="bx bxl-ok-ru"></i>
                    </a>
                    <a href="https://t.me/IRBIS_motors_pablik" class="google-plus" target="_blank">
                        <i class="bx bxl-telegram"></i>
                    </a>
                </div>
            </div>
        </footer>

        <a href="#" class="back-to-top d-flex align-items-center justify-content-center">
            <i class="bi bi-arrow-up-short"></i>
        </a>


        <!-- Vendor JS Files -->
        <script src="../vendors/purecounter/purecounter_vanilla.js"></script>
        <script src="../vendors/bootstrap/bootstrap.bundle.min.js"></script>
        <script src="../vendors/swiper/swiper-bundle.min.js"></script>
        <script src="../vendors/glightbox/glightbox.min.js"></script>
        <script src="../vendors/isotope/isotope.pkgd.min.js"></script>
        <script src="../vendors/php-email-form-validation/validate.js"></script>
        <script src="../vendors/aos/aos.js"></script>

        <!-- Project scripts -->
        <script src="../scripts/main.js"></script>


    </body>
</html>
